#photos {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
  margin: -10px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto;
  max-width: 100% !important;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: RGBA(255, 255, 255, 0);
}

@media (max-width: 1200px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 1000px) {
  #photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 720px) {
  #photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media (max-width: 400px) {
  #photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

/* SOCIAL ICONS */

/* Style all font awesome icons */
.fa {
  padding: 15px;
  padding-top: 0px;
  font-size: 16px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  float: right;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: .75;
}

/* LIGHTBOX */

* {
  box-sizing: border-box;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  max-height: 100%;
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: #1F2022;
}


/* Modal Content */
.modal-content {
  margin: auto;
  display: block;
  width: auto;
  max-width: 600px;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* .modal-content img {
  border-radius: 0px;
} */



/* The Close Button */
.close {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: white; */
}
/*
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-family: Space Mono, sans-serif;
  font-weight: normal;
  font-weight: 300;
  font-size: 35px;
} */

.close:hover,
.close:focus {
  opacity: 1;
  text-decoration: none;
  cursor: url(img/close-cursor.png), auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

.cursor {
cursor:  pointer;
  opacity: 1;
}

img {
  /* margin-bottom: -4px; */
}

.caption-container {
  /* text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white; */
}

img.hover-shadow {
 }

.hover-shadow:hover {
  opacity: 0.7;
}
