html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: HKGrotesk;
  src: url("fonts/HKGrotesk-Bold.woff") format('woff'), url("fonts/HKGrotesk-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: HKGrotesk;
  src: url("fonts/HKGrotesk-Medium.woff") format('woff');
  font-weight: medium;
}

@font-face {
  font-family: HKGrotesk;
  src: url("fonts/HKGrotesk-Italic.woff") format('woff');
  font-style: italic;
}

body {
    font-family: HKGrotesk;
    font-weight: normal;
    background-color: #F9F8F7;
    color: #595958;
    margin: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    overflow: auto;
}

a {
  color: #595958;
  text-decoration: none;
  display: inline;
}

a:hover {
  color: #747473;
  text-decoration: none;
}

.about {
  padding: 0rem 2rem 0rem 2rem;
  font-family: HKGrotesk;
  margin: auto;
}

@media (max-width: 512px) {
  .about {
    padding: 0rem 1rem 0rem 1rem;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.box
{
height: 150px;
width:  150px;
border: 1px solid #747473;
background-color: #F9F8F7;
text-align:center;
border-radius: 4px;
padding: 100px;
position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.box-text {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h1 {
  color: #595958;
  font-size: 18px;
  letter-spacing: 1px;
  font-style: italic;
}
h2 {
  color: #595958;
  font-size: 14px;
  letter-spacing: .3px;
  /* line-height: 0px; */
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  /* color: #595958; */
  /* text-decoration: none; */
  display: inline;
  font-size: 14px;
}


.footer {
  bottom: 0;
  padding: 0rem 2rem 2rem 2rem;
  font-size: 14px;
}

@media (max-width: 400px) {
  .footer {
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer-item {
  padding-left: 1rem;
  padding-right: 1rem;
}
