html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: HKGrotesk-Regular;
  src: url("fonts/HKGrotesk-Regular.woff") format('woff'), url("fonts/HKGrotesk-Regular.otf") format("opentype");
}

@font-face {
  font-family: BluuNext-Bold;
  src: url("fonts/bluunext-bold-webfont.woff") format('woff'), url("fonts/BluuNext-Bold.otf") format("opentype");
}

@font-face {
  font-family: HKGrotesk-Bold;
  src: url("fonts/HKGrotesk-Bold.woff") format('woff'), url("fonts/HKGrotesk-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: HKGrotesk-Italic;
  src: url("fonts/HKGrotesk-Italic.woff") format('woff'), url("fonts/HKGrotesk-Italic.otf") format("opentype");
}

@font-face {
  font-family: HKGrotesk-Light;
  src: url("fonts/HKGrotesk-Light.woff") format('woff'), url("fonts/HKGrotesk-Light.otf") format("opentype");
}

body {
  font-family: HKGrotesk-Regular;
  font-weight: normal;
  background-color: #F9F9FA;
  color: #4B4A4A;
  margin: 0px 60px 0px 60px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow: auto;
}

@media (max-width: 675px) {
  body {
    margin: 0px 30px 0px 30px;
  }
}

a {
  color: #595958;
  text-decoration: none;
  display: inline;
}

a:hover {
  color: #282726;
  text-decoration: underline;
}

p {
  margin: 0;
}

h1 {
  color: #4B4A4A;
  font-size: 18px;
  letter-spacing: 1px;
  font-style: italic;
}

h1 a:hover {
  text-decoration: none;
}

h2 {
  font-family: BluuNext-Bold;
  color: #282726;
  font-size: 14px;
  letter-spacing: .3px;
  text-transform: uppercase;
}

h2 span {
  margin: 0;
  font-family: HKGrotesk-Regular;
  color: #4B4A4A;
  text-transform: none;
  font-size: 16px;
  line-height: 1.5em;
}

.spread-text {
  font-family: BluuNext-Bold;
  color: #F9F9FA;
  font-size: 14px;
  letter-spacing: .3px;
  text-transform: uppercase;
  padding-top: 4em;
  padding-bottom: 4em;

}

.spread-text span {
  margin: 0;
  color: #EDEFF1;
  text-transform: none;
  font-size: 16px;
  line-height: 1.5em;
}

h3 {
  font-family: BluuNext-Bold, serif;
  /* font-weight: bold; */
  text-transform: uppercase;
  position: relative;
  /* text-align: center; */
  padding-left: 4rem;
  color: #282726;
  font-size: 1.5em;

  letter-spacing: 1px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  margin: 0px -60px 0px -60px;
}

h3 span {
  background: #F9F9FA;
  padding: 0 15px 0 15px;
  position: relative;
  z-index: 1;
}

h3:before {
  background: #D7DCDA;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

h3:before {
  left: 0;
}

h4 {
  font-family: HKGrotesk-Medium;
  color: ##797979;
  font-size: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

h5 {
  font-family: BluuNext-Bold;
  color: #282726;
  font-size: 56px;
  letter-spacing: -0.03em;
  line-height: 1.15em;
  /* text-align: center; */
  text-transform: uppercase;
}

@media (max-width: 675px) {
  h5 {
    font-size: 40px;
  }
}

@media (max-width: 440px) {
  h5 {
    font-size: 34px;
  }
}


h6 {
  font-family: BluuNext-Bold;
  color: #282726;
  font-size: 250px;
  letter-spacing: -0.05em;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 675px) {
  h6 {
    font-size: 100px;
  }
}

/* @media (max-width: 440px) {
  h6 {
    font-size: 34px;
  }
} */

.about {
  padding: 0rem 2rem 0rem 2rem;
  font-family: HKGrotesk-Regular;
  margin: auto;
}

@media (max-width: 512px) {
  .about {
    padding: 0rem 1rem 0rem 1rem;
  }
}

.mobile-padding {
  padding-left: 5px;
}

@media (max-width: 768px; min-width: 512px) {
  .mobile-padding {
    padding-top: 200px;
  }
}

@media (max-width: 512px) {
  .mobile-padding {
    padding-top: 200px;
  }
}
.image {
  display: block;
  width: 100%;
  height: auto;
}


/* BOX ATTRIBUTES */
.box {
  max-height: 150px;
  border-radius: 3px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #EDEFF1;
}
.box h2 {
  font-size: 16px;
}

.box img {
  min-height: 150px;
  width: 100%;
  border-radius: 3px;
  display: none;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:0;
}

.box:hover img {
  display: block;
  background: #F9F9FA;
}

@media (max-width: 512px) {
  .box:hover {
      background: #F9F9FA;
      }
}

@media (max-width: 512px) {
  .box:hover img {
      display: none;
      }
}
.box-padding {
  padding-bottom: 0px;
}

@media (max-width: 992px) {
  .box-padding {
    padding-bottom: 10px;
  }
}

.thumb-padding {
  padding-bottom: 30px;
}

@media (max-width: 992px) {
  .thumb-padding {
    padding-bottom: 60px;
  }
}

.box:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.box-text {
  font-family: HKGrotesk-Light;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  padding-left: 10px;
  color: #4B4A4A;
}

.box-text div {
  display: table;
  width: 100%;
  height: 100%;
}

.box-text span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #595958;
}

.box-text:hover span {
    display: none;
}

@media (max-width: 512px) {
  .box-text:hover span {
      display: table-cell;
  }
}

.box-active {
  max-height: 150px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  background: #282A29;
}

.box-active:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.box-text-active {
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  right: 10px;
}

.box-text-active div {
  display: table;
  width: 100%;
  height: 100%;
}

.box-text-active span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #F9F9FA;
}

.box-text-active h2 {
  color: #F9F9FA;
  font-size: 16px;
  letter-spacing: .3px;
  /* line-height: 0px; */
  /* font-weight: bold; */
  text-transform: uppercase;
}

.box-text-active p {
  color: #D7DCDA;
  line-height: 1.2em;
}

.box-footer {
  max-height: 150px;
  border-radius: 3px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #313432;
}

.box-footer h2 {
  font-size: 16px;
}

.box-footer img {
  min-height: 150px;
  width: 100%;
  border-radius: 3px;
  display: none;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:0;
}

.box-footer:hover img {
  display: block;
  background: #282A29;

}


@media (max-width: 512px) {
  .box-footer:hover {
      background: #282A29;
      }
}

@media (max-width: 512px) {
  .box-footer:hover img {
      display: none;
      }
}

.box-footer:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.box-footer-text {
  font-family: HKGrotesk-Light;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  padding-left: 10px;
  color: #D7DCDA;
}

.box-footer-text p {
  color: #D7DCDA;
  line-height: 1.2em;
}

.box-footer-text h2 {
  color: #F9F9FA;
}

.box-footer-text div {
  display: table;
  width: 100%;
  height: 100%;
}

.box-footer-text span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #F9F9FA;
}

.box-footer-text:hover span {
    display: none;
}

@media (max-width: 512px) {
  .box-footer-text:hover span {
      display: table-cell;
  }
}

.about-link {
  color: #4B4A4A;
  font-weight: bold;
}

.footer {
  bottom: 0;
  padding: 0rem 2rem 2rem 2rem;
  font-size: 14px;
}

@media (max-width: 767px) {
  .footer {
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.hero-item {
  font-family: 'IBM Plex Mono', monospace;
  padding-left: 0rem;
  padding-right: 1rem;
  color: #949391;
  letter-spacing: .07em;
  text-transform: uppercase;
  font-size: 12px;
}

@media (max-width: 767px) {
  .hero-item {
    /* padding-left: 1rem; */
    padding-right: 1rem;
  }
}

.footer-item {
  font-family: 'IBM Plex Mono', monospace;
  padding-left: 0rem;
  padding-right: 0rem;
  color: #949391;
  letter-spacing: .07em;
  text-transform: uppercase;
  font-size: 12px;
}

@media (max-width: 767px) {
  .footer-item {
    /* padding-left: 1rem; */
    padding-right: 0rem;
  }
}

@media (max-width: 512px) {
  .footer-item {
    /* padding-left: 1rem; */
    padding-right: 0rem;
  }
}

.footer-nav {
  color: #949391;
  text-decoration: none;
}
.footer-nav:hover {
  color: #595958;
  text-decoration: none;
}

.footer-background {
  background-color:#282A29;
  margin-left: -60px;
  margin-right: -60px;
  padding-left: 30px;
  padding-right: 30px;
  /*

  top: 0;
  bottom: 0; */
  /* width: 100%; */
}

.description {
  font-family: 'IBM Plex Mono', monospace;
  color: #949391;
  letter-spacing: .07em;
  text-transform: uppercase;
  font-size: 12px;
}

h2 .project {
  text-align: center;
}

.project-padding {
  padding: 1rem 1rem 1rem 1rem;
}

.project-padding-top {
  padding-top: 1rem;
}

@media (max-width: 991px) {
  .project-padding-top {
    padding-top: 1rem;
  }
}



.project-padding-middle {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 991px) {
  .project-padding-middle {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.project-padding-bottom {
  padding-bottom: 2rem;
}

.project-padding-left {
  padding-left: 1rem;
}

.project-padding-right {
  padding-right: 1rem;
}

.project-padding-horiz {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 991px) {
  .project-padding-bottom {
    padding-bottom: 2rem;
  }
}

.project-center {
  margin: auto;
}

.project-info {
  padding: 1rem 4rem 1rem 4rem;
}

@media (max-width: 768px) {
  .project-info {
    padding: 1rem 1rem 1rem 1rem;
  }
}

/* NAVIGATION */

.navbar {
  background-color: none;
}

.navbar a {
  /* padding: 20px 0 20px 0; */
  text-decoration: none;
}

.nav-item a {
  /* margin: 0 0 0 20px; */
}

.navbar-brand {
  font-size: 24px;
  color: #74787B;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 35 27' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath width='35' height='27' fill='#74787B' d='M1,4 L34,4 L34,1 L1,1 L1,4 Z M0,5 L0,0 L35,0 L35,5 L0,5 Z M0,16 L0,11 L35,11 L35,16 L0,16 Z M1,26 L34,26 L34,23 L1,23 L1,26 Z M0,27 L0,22 L35,22 L35,27 L0,27 Z'/%3E%3C/svg%3E")
}

.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 35 27' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath width='35' height='27' fill='#ffffff' d='M1,4 L34,4 L34,1 L1,1 L1,4 Z M0,5 L0,0 L35,0 L35,5 L0,5 Z M0,16 L0,11 L35,11 L35,16 L0,16 Z M1,26 L34,26 L34,23 L1,23 L1,26 Z M0,27 L0,22 L35,22 L35,27 L0,27 Z'/%3E%3C/svg%3E")
}

.hero {
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (min-width: 767px) {
  .hero {
    padding-top: 20em;
  }
}

.caption p {
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  padding-top: 1em;
  line-height: 1.6em;
  color: #454C4A;
}

.caption-left p {
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  font-weight: medium;
  font-size: 13px;
  padding-top: 1rem;
  line-height: 1.6em;
  color: #454C4A;
  /* text-transform: uppercase; */
  /* letter-spacing: .05em; */
}

@media (min-width: 992px) {
  .caption-left span {
    display: none;
  }
}



.button {
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: #373A38;
    border-radius: 3px;
    color: #F9F9FA;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
}

.ending-button {
  text-align:right;
}

@media (max-width: 768px) {
  .ending-button {
    text-align:left;
  }
}

.button:hover {
    background-color: #4F5351;
    border-radius: 3px;
    color: #F9F9FA;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
}

.project-section-padding {
  padding-top: 5rem;
}

.project-section-padding-bottom {
  padding-bottom: 5rem;
}

@media (max-width: 768px) {
  .project-section-padding {
    padding-top: 1.5rem;
  }
}

@media (max-width: 768px) {
  .project-section-padding-bottom {
    padding-top: 1.5rem;
  }
}
