.button {
  font-family: IBMPlexMono-Regular, monospace;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 12px 28px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;

  &-icon {
    padding: 6px 18px 2px;
    font-size: 28px;
  }
  &-transparent-icon {
    padding: 6px 18px 2px;
    font-size: 28px;

    &:first-child {
      margin-left: -18px;
    }
  }

  &-transparent {
    padding: 6px 18px 2px;

    &:first-child {
      margin-left: -18px;
    }
  }

  &-dark {
    background-color: #373a38;
    color: $bg-color;

    &:hover {
      background-color: #4f5351;
      color: $bg-color;
      text-decoration: none;
    }
  }

  &-light {
    background-color: $bg-color;
    color: #373a38;

    &:hover {
      background-color: #ededf1;
      color: #373a38;
      text-decoration: none;
    }
  }

  &-light-outline {
    border: 1.5px solid $bg-color;
    border-radius: 3px;
    color: $bg-color;

    &:hover {
      color: $yellow;
      background: $bg-color;
      // border-color: $yellow;
      text-decoration: none;
    }
  }

  &-transparent-light {
    background-color: none;
    color: $bg-color;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      color: #ededf1;
      text-decoration: none;
    }
  }
}
