@media (prefers-color-scheme: dark) {
  body {
    background: $bg-color-dark;
  }

  p {
    color: $text-color-dark;
  }

  a {
    color: $text-color-dark;
  }

  .homeSummary {
    color: $text-color-dark;
  }

  .logo-dark {
    color: $text-color-dark;
  }

  .home-project-modal {
    background: $bg-frame-dark;
    &:hover {
      box-shadow: 0 3px 8px 0 rgba(20, 19, 18, 0.15), 0 4px 20px 0 rgba(18, 17, 17, 0.14);

    }
  }

  .home-project-text {
    background: $bg-color-dark;
  }

  .home-project-title {
    color: $text-color-dark;
  }

  .home-project-subtitle {
    color: $text-color-dark;
  }

  .project-footer {
    background: $bg-color-dark;
  }

  .link-dark {
    text-decoration-color: $link-underline-color-dark;

    &:hover {
      text-decoration-color: $link-underline-color-dark-hover;
    }
  }

  .external-link-icon-filter {
    filter: invert(90%) sepia(4%) saturate(444%) hue-rotate(337deg) brightness(111%) contrast(98%);
  }

  .project-meat {
    background: $bg-color-dark;
  }

  h3 {
    color: $text-color-dark;
  }

  .casestudy-row-bg {
    background: $bg-frame-dark;
  }
  .modal {
    background: $bg-color-dark;
  }
  .mySlides img {
    background-color: $bg-color-dark !important;
  }
  .hero-item-dark-selected {
    color: $text-color-dark;
  }
  .button-dark {
    color: $bg-color-dark;
    background-color: $bg-color;

    &:hover {
      background-color: $bg-frame;
    }
  }


}