#photos {
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
}

#photos img {
  width: 100% !important;
  height: auto;
  max-width: 100% !important;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: RGBA(255, 255, 255, 0);
}

@media (max-width: 1200px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 1000px) {
  #photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 720px) {
  #photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media (max-width: 400px) {
  #photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

* {
  box-sizing: border-box;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: #151414;
}

.modal-content {
  margin: auto;
  display: block;
  width: auto;
  padding: 30px;
  max-width: 600px;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.close {
  position: absolute;
  height: 100%;
  width: 100%;
}

.close:hover,
.close:focus {
  opacity: 1;
  text-decoration: none;
  cursor: url(img/close-cursor.png), auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

.cursor {
  cursor: pointer;
  opacity: 1;
}

.hover-shadow:hover {
  opacity: 0.9;
}
