.design-nav {
  padding: 2rem 2rem 5.5rem 2rem;
  z-index: 1000;
  height: 100%;

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &-fixed {
    width: 100%;
  }

  &-links {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
  }
}

.project-nav {

  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $bg-color;
    z-index: 1100;
  }
}

@media (max-width: 576px) {
  .design-nav {
    max-width: 100%;
    background: none;
    padding: 2rem 1.5rem 1rem;

    // &-right {
    //   text-align: left;
    //   padding-top: 1.5rem;
    // }

    &-fixed {
      z-index: 0;
    }
  }

  .project-nav {

    &-fixed {
      z-index: 0;
    }
  }
}

@media (max-width: 576px) {
  .design-nav-links {
    transform: none;
    top: 16px;
    bottom: 0;
    width: inherit;
    left: 90px;
  }
}

@media (max-width: 576px) {
  .design-nav-fixed {
    position: fixed;
    background: none;
  }

  .project-nav-fixed {
    position: fixed;
    background: none;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .design-nav {
    padding: 2rem .5rem 5.5rem .5rem;
  }
}



@media (min-width: 576px) {
  .work-nav {
    padding-bottom: 3.5rem !important;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  // .project-nav {
  //   padding-left: 6rem !important;
  //   padding-right: 6rem !important;
  // }

  .design-nav {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

// @media (min-width: 576px) and (max-width: 768px) {
//   .project-nav {
//     padding-left: 4rem !important;
//     padding-right: 4rem !important;
//   }
//     .design-nav {
//       padding-left: 2rem !important;
//       padding-right: 2rem !important;
//     }
  
// }