.design-nav {
    padding: 4.5rem 1.5rem 1rem 1.5rem;
    z-index: 1000;
    height: 100%;
  
    &-fixed {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 6rem;
      background: $bg-color;
      z-index: 1000;
    }
  
    &-links {
      position: absolute;
      top: 310px;
      left: -3px;
      width: 100%;
      transform-origin: 0% 0%;
      transform: rotate(-90deg);
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media (max-width: 512px) {
    .design-nav {
      max-width: 100%;
      background: none;
      padding: 2rem 1.5rem 1rem 1.5rem;
  
      &-fixed {
        z-index: 0;
      }
    }
  }
  
  @media (max-width: 512px) {
    .design-nav-links {
      transform: none;
      top: 16px;
      bottom: 0;
      width: inherit;
      left: 90px;
    }
  }
  
  @media (max-width: 512px) {
    .design-nav-fixed {
      position: fixed;
      background: none;
    }
  }