// MY STUFF --------------------------------------------------------------------------


html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Sohne-Light", Arial, Helvetica, sans-serif;
  background: $bg-color;
  color: $heading-color;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  cursor: url('../img/cursor.svg'), url('../img/cursor.png'), default;
}

::selection {
  background: rgba(165, 214, 181, 0.4);
}

::-moz-selection {
  background: rgba(165, 214, 181, 0.4);
}

.container {
  max-width: 100%;
}

a {
  color: $heading-color;
  text-decoration: none;
  display: inline;

  &:hover {
    cursor: url("../img/pointer.svg"), url("../img/pointer.png"), pointer;

  }
}


.text-left {
  padding-right: 4rem !important;

  p {
    margin-top: 1.5rem;
  }
}

li:hover {
  cursor: url("../img/pointer.svg"), url("../img/pointer.png"), pointer;
}

@media (max-width: 576px) {
  .text-left {
    padding-right: 0 !important;
  }
}

@media (max-width: 576px) {
  .home-project-modalTitle-box {
    padding-left: 0 !important;
  }
}

.principles-text-center {
  text-align: center;
}

.text-center {
  text-align: center;
}

.socialLink {
  max-height: 19px;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
  margin-right: 1.9rem;

  &-padding {
    padding-top: 2rem;
  }

  &:hover {
    opacity: .6;
  }
}

.socialLink-footer {
  max-height: 17px;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
  margin-right: 1.9rem;

  &:hover {
    opacity: .6;
  }
}

.spread-text {
  font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
  color: #f9f9fa;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 4em;
  padding-bottom: 4em;

  span {
    margin: 0;
    color: #edeff1;
    text-transform: none;
    font-size: 16px;
    line-height: 1.5em;
  }
}

.home-footer-text {
  // text-align: center;
  // letter-spacing: 0.7px;
  font-family: "Sohne-Light", "Courier New", Courier, monospace;
  // text-transform: uppercase;
  margin-top: .3rem;
}

.project-footer-text {
  // text-align: right;
  font-size: 16px;
  // letter-spacing: 0.7px;
  font-family: "Sohne-Kraftig", "Courier New", Courier, monospace;
  // text-transform: uppercase;
  // margin-top: .3rem;

  a:hover {
    text-decoration: underline;
  }


  span {
    letter-spacing: -.7px;
  }
}

.aboutpagelink {
  margin-right: 1rem;
}

.aboutpagelinks {
  font-size: 18px;
  padding: 0 2rem 4rem;


  &-border {
    border-top: 1px solid $grey20;
    width: 100%;
    padding-top: 4rem;
  }
}

.projectpagelink {
  margin-right: 1rem;
}

.projectpagelinks {
  font-size: 18px;
  padding: 2rem 0;


  &-border {
    // border-top: 1px solid $grey20;
    width: 100%;
    padding-top: 2rem;

    @media (max-width: 576px) {
      padding-top: 0;

      .project-row-element {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .aboutpagelinks {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 18px;
  }

  .aboutpagelink {
    margin-right: 1.3rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .projectpagelinks {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
  }

  @media (max-width: 576px) {
    .projectpagelinks {
      .project-row-element {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

      }
    }
  }

  .projectpagelink {
    margin-right: 1.3rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-footer-text {
    text-align: left;
    padding-top: 2rem;
    margin-top: 0;
  }

  .project-footer-text {
    // text-align: left;
    // padding-top: 2rem;
    margin-top: 0;
  }

  .socialLink-last {
    margin-right: 0;
  }

  .aboutpagelinks {
    text-align: left;
  }

  .projectpagelinks {
    text-align: left;
  }
}

@media (max-width: 576px) {
  // .home-footer-text {
  //   padding-top: 2rem;
  //   font-size: 12px;
  //   margin-top: 0;
  // }

  .project-footer-text {
    // text-align: left;
    // padding-top: 2rem;
    // font-size: 12px;
    margin-top: 0;

  }

  .socialLink-last {
    margin-right: 0;
  }

  .aboutpagelinks {
    text-align: left;
  }

  .projectpagelinks {
    text-align: left;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .aboutpagelink {
    &:last-child {
      margin-right: 0;
    }
  }

  .projectpagelinks {
    padding-top: 0;
  }

  .projectpagelink {
    &:last-child {
      margin-right: 0;
    }
  }
}




@media (max-width: 576px) {
  .about {
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  // .aboutpagelinks {
  //   font-family: "IBMPlexSans-Text", Arial, Helvetica, sans-serif;
  // }

  // .projectpagelinks {
  //   font-family: "IBMPlexSans-Text", Arial, Helvetica, sans-serif;
  // }
}

@media (max-width: 576px) {
  .mobile-padding {
    padding-top: 50px;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.mobile-screenshot-radius {
  border-radius: 20px;
}

.box {
  max-height: 130px;
  border-radius: 6px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.box h2 {
  font-size: 16px;
}

.box-padding {
  padding: 10px;
}

@media (max-width: 992px) {
  .box-padding {
    padding-bottom: 10px;
  }
}


.thumb-heading {
  margin-bottom: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color .15s ease-in-out;
  font-family: "Migra-Extrabold", "Palatino Linotype", Palatino, serif;

  &-active {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: .25em;
    color: $blue;
  }
}

@media (max-width: 576px) {
  .thumb-heading {
    font-size: 20px;
  }
}

.thumb-padding {
  padding-bottom: 30px;
}


@media (max-width: 992px) {
  .thumb-padding {
    padding-bottom: 30px;
  }
}

.box-text {
  font-family: "IBMPlexSans-Regular", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  padding-left: 10px;
  color: #4b4a4a;

  p {
    margin-bottom: 0;
  }
}

.box-text div {
  display: table;
  width: 100%;
  height: 100%;
}

.box-text span {
  text-align: center;
  vertical-align: middle;
  color: #595958;
  display: none;
}

.box-text:hover span {
  display: table-cell;
}

@media (max-width: 576px) {
  .box-text:hover span {
    display: table-cell;
  }
}

.box-active {
  height: 54px;
  position: relative;
  width: 100%;
  margin: 1rem 0;
}

@media (max-width: 576px) {
  .box-active {
    margin: 1rem 0;
  }
}

.box-text-active {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-right: 1.2rem;
}

.box-text-active div {
  display: table;
  width: 100%;
  height: 100%;
}

.box-text-active span {
  display: table-cell;
  vertical-align: middle;

  p {
    color: $blue;
  }
}

.box-text-active h2 {
  color: $bg-color;
  font-size: 16px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.box-text-active p {
  color: #d7dcda;
  line-height: 1.4em;
}

.box-footer {
  height: 54px;
  position: relative;
  width: 100%;
  margin: 1rem 0;

  h2 {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .box-footer {
    margin: 1.5rem 0;
  }
}

.box-footer-text {
  // font-family: "IBMPlexSans-Regular", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-right: 1.1rem;
  color: #d7dcda;

  p {
    margin-bottom: 0;
    line-height: 1.4em;
  }

  h2 {
    color: $bg-color;
  }

  div {
    display: table;
    width: 100%;
    height: 100%;
  }

  span {
    display: table-cell;
    vertical-align: middle;
    color: $bg-color;
    transition: color .15s ease-in-out;

    :hover {
      cursor: url("../img/pointer.svg"), url("../img/pointer.png"), pointer;

      p {
        transition: color .15s ease-in-out;
      }
    }

    p {
      transition: color .15s ease-in-out;
    }
  }

  &:hover span {
    .thumb-heading {
      color: $blue;
      transition: color .15s ease-in-out;
    }

    .footer-project-subheader {
      color: $blue;
      transition: color .15s ease-in-out;

    }

  }
}

.margin-right-xs {
  margin-right: 1rem;
}

.margin-horiz-0 {
  margin-left: 0;
  margin-right: 0;
}




@media (max-width: 576px) {
  .box-footer-text:hover span {
    display: table-cell;
  }
}

.caption-link {
  text-decoration: none;
  transition: text-decoration 0.1s ease-in-out, color 0.1s ease-in-out;

  &-dark {
    color: $blue;

    &:hover {
      color: $blue;
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }
  }
}

.about-link {
  // font-family: "Sohne-Kraftig", Arial, Helvetica, sans-serif;
  // border-bottom: 1.5px solid transparent;
  transition: text-decoration-color, text-decoration-thickness, text-decoration-width 0.3s ease-in-out, color 0.3s ease-in-out;


  &-dark {
    // color: $blue;
    text-decoration: none;
    // text-decoration-thickness: .5px;
    // text-decoration-color: #81AC90;


    &:hover {
      text-decoration: underline;

    }
  }

  &-primary {

    &:hover {
      border-color: transparent;
      text-decoration: none;
    }
  }

  &-light {
    color: $bg-color;
    border-color: $bg-color;

    &:hover {
      color: $bg-color;
      border-color: transparent;
      text-decoration: none;
    }
  }
}

.footer {
  bottom: 0;
  padding: 0 2rem 2rem 2rem;
  font-size: 14px;
}

@media (max-width: 767px) {
  .footer {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.aboutSummary {
  position: absolute;
  margin-right: 22rem;
  top: 0.5rem;
  left: 8rem;
  font-size: 22px;
  color: $heading-color;
  z-index: 1000;
  padding-bottom: 2rem;
}

.homeSummary {
  font-size: 18px;
  color: $heading-color;
  z-index: 1000;
  padding-bottom: 3rem;
  // border-bottom: solid 1px #d7dcda;


  &-border {
    // margin: 0 auto;
    // width: 50%;
    padding: 0 2rem;
    // max-width: 768px;
  }

  &-heading {
    font-size: 24px;
    // padding-bottom: 2rem;
    margin-bottom: 1rem;
    font-family: "Sohne-Light", Arial, Helvetica, sans-serif;
    letter-spacing: -0.1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &-subheading {
    max-width: 43rem;
    letter-spacing: -0.1px;

    p {
      font-size: 21px;
      padding-bottom: 1rem;
    }
  }
}

@media (max-width: 576px) {
  .homeSummary-heading {
    font-size: 22px !important;
  }
}

@media (max-width: 576px) {
  .aboutSummary {
    font-family: "IBMPlexSans-Text", Arial, Helvetica, sans-serif;
    position: relative;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
    top: 0;
    left: 0;
    margin-right: 0;
  }



  .homeSummary {
    font-family: "IBMPlexSans-Regular", Arial, Helvetica, sans-serif;
    position: relative;
    padding: 1.5rem 0 .5rem;
    top: 0;
    left: 0;

    &-border {
      padding: .5rem 1.5rem 0;
    }

    // &-heading {
    //   padding-right: 0;
    //   font-size: 18px;
    //   line-height: 42px;
    // }
  }
}

// @media (min-width: 576px) {
//   .homeSummary {
//     &-heading {
//       line-height: 63px;
//     }
//   }
// }

// @media (min-width: 1200px) {
//   .homeSummary {
//     &-heading {
//       padding-right: 5rem;
//     }
//   }
// }

@media (max-width: 768px) {
  .homeSummary {
    &-border {
      margin: 0;
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .photography-nav {
    position: relative !important;
  }
}

.project-nav {
  padding: 2rem;
  max-width: 1040px;
  margin: auto;

  &-logo {
    width: 42px;
    height: 42px;
    opacity: 0.7;
    transition: opacity 0.15s ease-in-out;
    margin-right: 0;

    &:hover {
      opacity: 1;
    }
  }

  &-fixed {
    position: fixed;
    top: 0;
    max-width: 100%;
    background: none;
  }

  &-links {
    display: flex;

    &-right {
      text-align: right;
      margin-top: auto;
      margin-bottom: auto;

      li {
        &:last-child {
          margin-right: 0;
        }
      }


      &-last {
        margin-right: 0 !important;

        a {
          margin-right: 0 !important;
        }
      }
    }

  }
}

@media (max-width: 576px) {
  .project-nav {
    position: fixed;
    top: 0;
    max-width: 100%;
    width: 100%;
    background: none;
    padding: 2rem 1.5rem 1.5rem;
    height: auto;

    // &-links-right {

    //   li a {
    //     margin-left: 0;
    //     margin-right: 16px;
    //   }

    // }

    &-logo {
      &-dark {
        display: none;
      }
    }
  }

  .project-nav-links {
    transform: none;
    top: 0;
    bottom: 0;
    width: inherit;
  }

  .project-nav-fixed {
    position: fixed;
    background: 0 0;
    // z-index: 0;
  }
}

// @media (min-width: 576px) and (max-width: 1000px) {
//   .project-nav {
//     padding: 2rem .5rem;
//   }
// }


@media (min-width: 576px) and (max-width: 768px) {
  .project-nav-fixed {
    position: fixed;
    // background: 0 0;
    // z-index: 0;
  }
}

.photo-nav {
  padding: 2rem 13rem 1rem 13rem;
  z-index: 1000;

  &-fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $bg-color;
    z-index: 1000;
  }
}

@media (max-width: 576px) {
  .photo-nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .photo-nav {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

// @media (min-width: 576px) and (max-width: 1200px) {
//   .homeSummary-heading {
//     font-size: 48px;
//     line-height: 54px;
//     padding-right: 4rem;

//   }
// }

// @media (min-width: 1000px) and (max-width: 1400px) {
//   .homeSummary-heading {
//     padding-right: 4rem;
//   }
// }
// @media (max-width: 576px) {
//   .col-xs-8 {
//     flex: 0 0 66.666667%;
//     max-width: 66.666667%;
//     width: auto !important;
//   }
// }

@media (max-width: 576px) {
  .home-summary {
    font-size: 18px;
  }
}

.proj-hero-item {
  // font-family: "Migra-Extrabold", "Palatino Linotype", Palatino, serif;
  font-family: "Sohne-Kraftig", Arial, Helvetica, sans-serif;
  // -moz-osx-font-smoothing: grayscale;
  padding-left: 0;
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  // letter-spacing: 0.01em;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom ease-in-out 0.18s, opacity ease-in-out 0.18s, color 0.18s ease-in-out;
  list-style: none;
  display: inline-block;
  text-transform: capitalize;


  a {
    margin: 0 .5em;
    display: inline-block;
  }

  &:last-child a {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .proj-hero-item {
    padding-top: 0;
    // font-size: 17px;
  }
}

.hero-item {
  // font-family: "Migra-Extrabold", "Palatino Linotype", Palatino, serif;
  font-family: "Sohne-Kraftig", Arial, Helvetica, sans-serif;
  padding-left: 0;
  margin-right: 1rem;
  // letter-spacing: 0.01em;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom ease-in-out 0.18s, opacity ease-in-out 0.18s, color 0.18s ease-in-out;
  list-style: none;
  display: inline-block;
  // padding-top: .2rem;
  // text-transform: capitalize;


  a {
    display: inline-block;
    white-space: nowrap;
    margin: 0 0.5em;
    transition: all ease-in-out .18s;
  }

  &:last-child {
    margin-right: 0;
  }

  &:last-child a {
    margin-right: 0;
  }

  &-light {
    color: $bg-color;
    opacity: .7;
    transition: all ease-in-out 0.18s;

    a {
      color: $bg-color;
      transition: all ease-in-out 0.18s;

    }

    &:hover {
      opacity: 1;
      color: $bg-color;
    }
  }

  &-footer {
    margin-bottom: 1rem;

    &-link {
      font-family: "Migra-Extrabold", "Palatino Linotype", Palatino, serif;
      padding-left: 0;
      margin-right: 1.5rem;
      letter-spacing: 0.01em;
      font-size: 16px;
      text-decoration: none;
      // border-bottom: 1px solid transparent;
      transition: all ease-in-out 0.2s;
      color: #949391;
      text-transform: capitalize;

      &:last-child {
        margin-right: 0;
      }

      &-is-selected {

        &:hover {
          border-color: transparent !important;
        }
      }
    }

  }

  &-dark {
    transition: all ease-in-out 0.18s;

    a {
      // border-bottom: 2px solid transparent;
      transition: all ease-in-out 0.18s;

    }

    // &:hover {
    //   color: $heading-color;

    //   a {
    //     color: $heading-color;
    //   }
    // }

    &-selected {
      color: $heading-color;

      a {
        color: $heading-color;
      }

      // &:hover {
      //   color: $heading-color;
      // }
    }
  }

  &-right {
    text-align: right;
  }
}

.hero-item {
  &-light {

    &:hover {

      a {
        color: $bg-color;
        border-color: $bg-color;
      }
    }
  }
}

.tools-used {
  padding-left: 0;
  padding-right: 0;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .tools-used {
    text-align: center;
  }
}

.footer-top-section {
  padding: 2rem 12rem 0 12rem;
}

@media (max-width: 576px) {
  .footer-top-section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 4rem;
  }
}

@media (min-width: 576px) {
  .footer-top-section {
    display: none;

  }
}

@media (max-width: 768px) {
  .footer-center {
    text-align: center;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .footer-center h1 {
    text-align: right;
  }
}

.text-light {
  color: $bg-color;
}

.text-dark {
  color: $heading-color;
}

.project-subheading {
  color: $heading-color;
  font-size: 22px;
  margin-bottom: 1.2rem;

}

@media (max-width: 576px) {
  .project-subheading {
    padding: 0;
    margin-left: 0;
    margin-top: 1rem;
  }
}

.photo-container {
  max-width: 100%;
  padding-left: 2rem;
  padding-bottom: 54px;
  padding-right: 2rem;
}

@media (max-width: 576px) {
  .photo-container {
    padding-top: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: $bg-color;
  }
}

.design-container {
  max-width: 80%;
  padding-top: 4rem;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

@media (max-width: 576px) {
  .design-container {
    max-width: 90%;
  }
}

.fadein {
  -webkit-animation: fadein 0.65s;
  -moz-animation: fadein 0.65s;
  -ms-animation: fadein 0.65s;
  -o-animation: fadein 0.65s;
  animation: fadein 0.65s;
}

.fadein-long {
  -webkit-animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -ms-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

.fadeout {
  -webkit-animation: fadeout 0.65s;
  -moz-animation: fadeout 0.65s;
  -ms-animation: fadeout 0.65s;
  -o-animation: fadeout 0.65s;
  animation: fadeout 0.65s;
}

@keyframes fadeout {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

.fadeinslow {
  -webkit-animation: fadein .65s;
  -moz-animation: fadein .65s;
  -ms-animation: fadein .65s;
  -o-animation: fadein .65s;
  animation: fadein .65s;
}

@keyframes fadeinslow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeinslow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinslow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeinslow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeinslow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .override-pos-relative {
    position: relative !important;
  }
}

.frame-bg {
  // box-shadow: 0 3px 8px rgba(0, 0, 0, 0.01), 0 3px 8px rgba(0, 0, 0, 0.01);
  border-radius: 4px;
  // padding: 2rem;

}

.border-radius-2px {
  border-radius: 2px;
}

.browser-bg {
  border-radius: 4px;
}

.logo {
  font-family: "Migra-ExtraBold", "Palatino Linotype", Palatino, serif;
  line-height: 1.2em;
  text-decoration: none;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;

  &-light {
    color: $bg-color;

    &:hover {
      color: $g30;

      text-decoration: none;
      transition: color 0.25s ease;
      -webkit-transition: color 0.25s ease;
      -moz-transition: color 0.25s ease;
      -o-transition: color 0.25s ease;
    }
  }

  &-dark {
    color: $heading-color;
  }

  &-home {

    &:hover:after {
      content: url("../img/hero-bg.png");
      position: absolute;
      left: 0;
      top: 24rem;
      max-width: 100px !important;
      z-index: 1005 !important;
    }
  }

  &-primary {
    color: $green;

    &:hover {
      color: $g30;
      text-decoration: none;
      transition: color 0.25s ease;
      -webkit-transition: color 0.25s ease;
      -moz-transition: color 0.25s ease;
      -o-transition: color 0.25s ease;
    }
  }
}

@media (max-width: 576px) {
  .logo-home {
    &:hover:after {
      content: "";
    }
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .logo-home {
    &:hover:after {
      content: "";
    }
  }
}

.footer-nav {
  color: #949391;
  text-decoration: none;

  &:hover {
    color: #595958;
    text-decoration: none;
  }
}

.project-footer {
  background-color: $bg-color;
  z-index: 1200;
  position: relative;
  max-width: 100%;
}

.project-footer-container {
  // padding: 4.5rem 12rem 0 12rem;
  max-width: 1040px;
  margin: auto;
  // border-top: 1px solid $grey20;
  // padding-top: 2rem;
}

.project-footer-border {
  border-top: 1px solid $grey20;
}

@media (max-width: 576px) {
  // .project-footer-projects {
  //   padding: 2.5rem 1.5rem .5rem 1.5rem;
  // }

  .project-footer {
    margin-left: 0;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  // .project-footer-projects {
  //   padding-left: 3rem;
  //   padding-right: 3rem;
  // }
}

.center-text {
  text-align: center;
}

h2 .project {
  text-align: center;
}

.project-row-element {
  padding: 1rem 2rem;
}

.project-row-image {
  padding: 1rem 1rem;
}

.project-row-text {
  padding: 1rem 10rem;
}

.project-row-caption {
  padding: 0 1rem 1rem 1rem;
}

.project-padding {

  &-top {
    padding-top: 1rem;
  }

  &-middle {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &-bottom {
    padding-bottom: 2rem;

    &-hero {
      padding-bottom: 3rem;
    }
  }

  &-left {
    padding-left: 1rem;
  }

  &-right {
    padding-right: 1rem;
  }

  &-horiz {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 991px) {
  .project-padding-top {
    padding-top: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 1000px) {
  .project-row-text {
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  .project-row-element {
    padding: 0.75rem 0;
  }

  .project-row-image {
    padding: 0.75rem 0;
  }

  .project-row-text {
    padding: 0.75rem 0;
  }

  .project-row-caption {
    padding: .5rem 0;
  }
}

@media (max-width: 991px) {
  .project-padding-middle {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 991px) {
  .project-padding-bottom {
    padding-bottom: 2rem;
  }
}

.project-center {
  margin: auto;
}

.margin-none {
  margin: 0;
}

.project-menu {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1003;
  padding: 4rem 2rem 1rem 3rem;
  overflow-x: hidden;
  width: 318px;
  margin-bottom: 35rem;

  &-logo {
    padding-left: 3rem;
    padding-bottom: 3rem;
  }

  p {
    position: relative;
    padding-left: 2rem;

    a {
      background: #f9f9fa;
      padding: 0 1rem;
      position: relative;
      z-index: 1;
    }

    &:before {
      background: #d7dcda;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      top: 50%;
      width: 40px;
      left: 0;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    &:hover:before {
      opacity: 1;
    }
  }
}

@media (max-width: 1100px) {
  .project-menu {
    display: none;
  }
}

.project-navigation {
  width: 100%;
  max-height: 100px;
  position: fixed;
  top: 0;
  padding: 2rem 13rem 0 13rem;
}

.project-meat {
  margin-right: 0;
  margin-left: 0;
  margin-top: 562px;
  background: $bg-color;
  position: relative;
  z-index: 1111;
  ;

  ::selection {
    background: rgba(165, 214, 181, 0.4);
    // color: $bg-color;
  }

  ::-moz-selection {
    background: rgba(165, 214, 181, 0.4);
    // color: $bg-color;
  }
}

.project-summary {
  font-size: 19px;
  // line-height: 1.5em;
  // background: $bg-color;
  padding-right: 1rem;

  &-paragraph {
    margin-bottom: 1rem !important;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &-dropcap {
    font-family: "Migra-Extrabold", "Palatino Linotype", Palatino, serif;
    color: $blue;
    font-size: 56px;
    margin-right: .6rem;
    line-height: 1.15;
    position: relative;
    float: left;
  }

  &-leading-words {
    // letter-spacing: 1.7px;
    // font-variant: small-caps;
    // font-size: 17px;
    font-family: "Migra-Extrabold", "Palatino Linotype", Palatino, serif;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media (min-width: 992px) {
  .project-summary-leading-words {
    padding-right: 4rem;
  }
}

.project-number {
  padding-left: 2rem;
  border-left: solid 1px $heading-color;

  &-heading {
    font-size: 50px;
    text-transform: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }

  &-subheading {
    padding-bottom: .5rem;
  }
}



@media (max-width: 1100px) {
  .project-meat {
    // margin-top: 510px;
    margin-left: 0;
    margin-right: 0;
  }
}

.project {
  &-row {
    padding: 2.5rem 0;
    margin-left: 12rem;
    margin-right: 12rem;
  }

  // &-hero-image {
  //   display: block;
  //   width: 100%;
  //   overflow: hidden;
  //   opacity: 0.9;
  // }

  &-hero-imageSpacer {
    background: rgba(0, 0, 0, 0.05);
    height: 0;
    position: relative;
  }

  &-hero-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // padding: 1rem 13rem;
    background: $bg-color;
    height: 562px;
    // z-index: -1;
    overflow: hidden;


    ::selection {
      background: rgba(165, 214, 181, 0.4);
    }

    ::-moz-selection {
      background: rgba(165, 214, 181, 0.4);
    }


    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 170px;
      left: 0;
      top: 0;
      opacity: 0.3;
      z-index: 1;
      // background: linear-gradient(180deg,
      //     rgba(37, 43, 53, 0.98) 0,
      //     rgba(37, 43, 53, 0.92) 12%,
      //     rgba(37, 43, 53, 0.83) 21%,
      //     rgba(37, 43, 53, 0.7) 30%,
      //     rgba(37, 43, 53, 0.46) 48%,
      //     rgba(37, 43, 53, 0.35) 55%,
      //     rgba(37, 43, 53, 0.20) 63%,
      //     rgba(37, 43, 53, 0.05) 78%,
      //     transparent);
      // pointer-events: none;
    }

    &::after {
      // content: "";
      position: absolute;
      height: 240px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      // background: linear-gradient(180deg,
      //     transparent 0,
      //     rgba(37, 43, 53, 0.05) 22%,
      //     rgba(37, 43, 53, 0.17) 38%,
      //     rgba(37, 43, 53, 0.28) 49%,
      //     rgba(37, 43, 53, 0.45) 67%,
      //     rgba(37, 43, 53, 0.64) 77%,
      //     rgba(37, 43, 53, 0.75) 85%,
      //     rgba(37, 43, 53, 0.82) 91%,
      //   );
      // pointer-events: none;
    }
  }


  &-hero {
    &-sections {
      margin-left: -2rem;

      &-section {
        font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
        letter-spacing: 0.07em;
        font-size: 14px;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;

        span {
          color: transparent;
          transition: all 0.4s ease-in-out;
        }

        &:hover {
          span {
            color: $heading-color;
          }
        }

        &:last-child {
          padding-bottom: 0;
        }

        &-light {
          color: $bg-color;

          &:hover {
            color: $bg-color;
          }
        }

        &-dark {

          &:hover {
            color: $heading-color;
          }
        }
      }
    }

    &-tags {
      position: absolute;
      bottom: 2rem;
      z-index: 4;
    }

    &-tag {
      letter-spacing: 0.07em;
      font-size: 12px;
      text-transform: uppercase;

      &-dark {
        color: $heading-color;
      }
    }

    &-title {
      text-align: left;
      padding-top: 8rem;
      font-size: 48px;
      padding-bottom: 8rem;
      background: $bg-color;
    }
  }
}

@media (max-width: 576px) {
  .project-hero-title {
    font-size: 40px;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.hero-logo {
  position: absolute;
  bottom: 2rem;
  z-index: 4;
  width: 200px;
}

.bg-scheme-light {
  background: $bg-color;
  z-index: 2;
}

@media (max-width: 576px) {
  .hero-logo {
    bottom: 2rem;
  }
}

@media (min-width: 1240px) {
  .project-hero-container {
    height: 562px;
  }
}

@media (max-width: 576px) {
  .project-hero-container {
    // height: 510px;
    left: 0;

  }
}

.prev-next {
  padding-left: 1rem;
}

@media (max-width: 576px) {
  .prev-next {
    display: none;
  }
}

@media (max-width: 576px) {
  .project-hero-sections {
    display: none;
  }
}

@media (max-width: 767px) {
  .project-hero {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  .project-hero-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .project-access-bg-image {
    background-image: url('../img/project-access/hero-bg-mobile.png') !important;
    background-position: right !important;
  }

  .eximchain-bg-image {
    background-image: url('../img/eximchain/hero-bg-mobile.svg') !important;
  }
}

@media (max-width: 576px) {
  .project-meat {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .project-meat-tulip {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 576px) {
  .project-meat-eximchain {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 576px) {
  .project-navigation {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .project-row {
    padding: 1rem;
  }

  h3 span {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .project-hero-container {
    left: 0;
    // padding-left: 5rem;
    // padding-right: 5rem;
  }

  .project-hero-title {
    font-size: 36px;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .project-row {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .project-row {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .project-hero-title {
    font-size: 44px;
  }

  h3 span {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .project-hero-container {
    left: 0;
    // padding-left: 7rem;
    // padding-right: 7rem;
  }
}

@media (max-width: 576px) {
  .project-row {
    padding: 0 1.25rem;
  }
}

.hero {
  padding-top: 2em;

  &-logoSymbol {
    width: 36px;
    height: 36px;
    opacity: 0.8;
    transition: opacity 0.15s ease-in-out;
    margin-right: 1.5rem;

    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: 767px) {
  .hero {
    padding-top: 6em;
  }
}

.subfooter {
  padding-top: 3rem;
  padding-bottom: 3rem;

  &-border {
    border-top: 1px solid #d7dcda;
  }
}

@media (min-width: 576px) {
  .subfooter-border {
    border-top-color: transparent;
  }
}

@media (max-width: 576px) {
  .subfooter-border {
    padding-top: 3rem;
  }
}

@media (max-width: 576px) {
  .subfooter {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
}

.caption {
  p {
    font-size: 13px;
    line-height: 1.6em;
  }
}

@media (min-width: 992px) {
  .caption span {
    display: none;
  }
}

.project-section {
  padding: 2.5rem 0 4rem;
  margin: auto 0;
  // border-bottom: solid 1px #d7dcda;

  &:last-child {
    border: none;
  }
}

@media (max-width: 576px) {
  .project-section {
    padding-bottom: 1rem;

    &:last-child {
      padding-bottom: 4rem;
    }
  }
}

// @media (min-width: 768px) and (max-width: 1200px) {
//   .project-section {
//     margin: auto 6rem;
//   }
// }

// @media (min-width: 576px) and (max-width: 768px) {
//   .project-section {
//     margin: auto 4rem;
//   }
// }

@media (max-width: 576px) {
  .project-section {
    margin: auto 1.5rem;
  }
}

@media (max-width: 576px) {
  .project-section-image {
    margin: auto 0 !important;
    padding-bottom: 0 !important;
  }
}

.stat {
  padding-top: 1rem;
  margin-left: 2rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #d7dcda;

  &-heading {
    font-family: "Sohne-Medium", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $heading-color;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
    padding-top: .4rem;
  }
}

@media (max-width: 1200px) {
  .stat {
    margin-left: 0;
  }
}

.project-section-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer {
  &-logoSymbol {
    width: 36px;
    height: 36px;
    margin-right: 1.5rem;

    &:hover {
      opacity: 0.8;
    }
  }
}

.badge {
  text-transform: uppercase;
  font-size: 13px;
  padding: 4px 6px 3px 6px;
  background: #E7EAE9;
  border-radius: 4px;
  margin-top: .6rem;
  letter-spacing: 0.07em;
  display: inline-block;
  margin-right: .6rem;
}

.tag {
  font-family: "IBMPlexSans-Text", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  padding: 4px 5px 3px 5px;
  background: #E7EAE9;
  border-radius: 3px;
  margin-left: 8px;
  margin-top: 5.5px;
  letter-spacing: 0.07em;
  position: absolute;
}

@media (max-width: 570px) {
  .tag {
    display: none !important;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

@media (min-width: 992px) and (max-width: 1167px) {
  .tag {
    display: none !important;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

.home-project:hover .home-project-text .home-project-title .tag {
  color: #fff !important;
  background: #b5792a;
}


.home {
  max-width: 1040px;

  &-eye {
    width: 36px;
    height: 36px;
  }

  &-logoSymbol {
    width: 42px;
    height: 42px;
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
    margin-right: 1.5rem;

    &:hover {
      opacity: 0.8;
    }
  }

  &-projects {
    background: $bg-color;
    // padding: 0 1rem;
    // max-width: 768px;
    margin: auto;
    // padding-top: 4rem;
    // padding-left: 2rem;
    // padding-right: 2rem;

  }

  &-project {
    // margin-bottom: 2rem;
    margin-top: 0.5rem;
    transition: color 0.1s ease-in-out;

    &-last {
      margin-bottom: 4rem;
    }

    &:last-child {
      margin-bottom: 4rem;
    }


    // &:first-child {
    //   padding-top: 2rem;
    // }

    &-modal {
      padding: 2rem;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      cursor: url("../img/pointer.svg"), url("../img/pointer.png"), pointer;

      &:hover {
        opacity: .9;

        background-color: $bg-color;
        box-shadow: 0 3px 8px 0 rgba(67, 63, 61, 0.15), 0 4px 20px 0 rgba(67, 63, 61, 0.14);
        border-radius: 4px;
        // padding: 2rem;
      }
    }

    &-modalOpen {

      background-color: $bg-color;
      padding: 2rem;
      margin: 2rem;
      border-radius: 4px;
    }

    &-wrapper {
      display: block;
    }

    &-text {
      margin: auto;
      padding-top: 1.5rem;
    }

    &-modalText {
      margin: auto;
      padding: 2rem;
    }


    &-category {
      font-size: 18px;
      margin-bottom: 0.2rem;
      cursor: url("../img/pointer.svg"), url("../img/pointer.png"), pointer;

    }

    &-modalCategory {
      font-size: 18px;
      margin-bottom: 0.2rem;
      cursor: url("../img/text.svg"), url("../img/text.png"), text;

    }

    &-button {
      margin-top: .9rem;
      transition: transform 0.1s ease-in-out;
      -webkit-transition: transform 0.1s ease-in-out;
      -moz-transition: transform 0.1s ease-in-out;
      -o-transition: transform 0.1s ease-in-out;
      -ms-transition: transform 0.1s ease-in-out;
      padding: .5rem .5rem .5rem 0 !important;
      background: none !important;

      span {
        font-size: 18px;
      }

      &:hover {
        transform: translate(6px, 0);
        transition: transform 0.1s ease-in-out;
        -webkit-transition: transform 0.1s ease-in-out;
        -moz-transition: transform 0.1s ease-in-out;
        -o-transition: transform 0.1s ease-in-out;
        -ms-transition: transform 0.1s ease-in-out;
      }
    }

    &-about {
      border-radius: 4px;
      display: block;
      height: auto;
      max-height: 340px;
      opacity: 1;
      transition: opacity .2s ease-in-out;
    }

    &-thumbnail {
      border-radius: 4px;
      display: block;
      height: auto;
      width: 100%;
      opacity: 1;
      transition: all .2s ease-in-out;
      // background: $bg-color;

      &-padding {
        padding-right: 1.5rem;
      }
    }

    &-modalThumbnail {
      border-radius: 4px 4px 0 0;
      transition: all .2s ease-in-out;
      background: $bg-color;
      height: 100%;
      width: 100%;

      &-padding {
        padding-right: 1.5rem;
      }
    }

  }

  &-project-logo {
    width: 30px;
    padding-bottom: 0.5rem;
  }

  &-project-subtitle {
    font-family: "Sohne-Light", Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: .3rem;
    color: $heading-color;
    line-height: 1.5em;
    transition: color 0.1s ease-in-out;
    cursor: url("../img/pointer.svg"), url("../img/pointer.png"), pointer;
  }

  &-project-modalSubtitle {
    font-family: "Sohne-Light", Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: .3rem;
    color: $heading-color;
    line-height: 1.5em;
    transition: color 0.1s ease-in-out;
    cursor: url("../img/text.svg"), url("../img/text.png"), text;
  }

  &-project-bullet {
    font-family: "IBMPlexSans-Regular", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: $heading-color;
    margin-bottom: 0.6rem;
    line-height: 1.4em;
    transition: color 0.1s ease-in-out;
  }

  &-project-title {
    font-family: "Migra-Extrabold", Arial, Helvetica, sans-serif;
    color: $heading-color;
    font-size: 22px;
    transition: color 0.4s ease-in-out;
    margin-bottom: 0.2rem;
    margin-right: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: url("../img/pointer.svg"), url("../img/pointer.png"), pointer;


    &-box {
      display: flex;
    }

  }

  &-project-modalTitle {
    &-box {
      padding-top: 1rem;
      padding-left: 1rem;
      justify-content: space-between;

    }
  }

  &-project-modalTitle {
    font-family: "Migra-Extrabold", Arial, Helvetica, sans-serif;
    color: $heading-color;
    font-size: 18px;
    transition: color 0.4s ease-in-out;
    margin-bottom: 0.2rem;
    margin-right: 12px;
    cursor: url("../img/text.svg"), url("../img/text.png"), text;


    &-box {
      display: flex;
    }

  }

  &-project-modalCompany {
    font-family: "Migra-Extrabold", Arial, Helvetica, sans-serif;
    color: $heading-color;
    font-size: 22px;
    transition: color 0.4s ease-in-out;
    margin-bottom: 0.2rem;
    margin-right: 12px;
    cursor: url("../img/text.svg"), url("../img/text.png"), text;


    &-box {
      display: flex;
    }

  }

  &-project-modalRole {
    padding-bottom: .2rem;
  }
}

.home-project-thumbnail-wrapper {
  background-color: $bg-frame;
  border-radius: 6px;
  padding: 1rem;
}

@media (max-width: 576px) {
  .home-project-modal {
    padding: 0;

    &:hover {
      box-shadow: none;
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .home-projects {
    margin: 0;
    padding: 0 1rem;
  }

  .home-project-button {
    margin-top: 0;
  }
  .home-project-modal {
    padding: 1rem;
  }
}


// @media (min-width: 768px) and (max-width: 1200px) {
//   .home {
//     padding: 0 4rem;
//   }
// }

// @media (min-width: 576px) and (max-width: 768px) {
//   .home {
//     padding-top: 0;
//     padding-bottom: 0;
//     padding-left: 1.5rem;
//     padding-right: 1.5rem;
//   }
// }

@media (max-width: 576px) {
  .home {
    padding: 0;
    margin-left: 0;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .aboutSummary {
    padding-top: 0rem;
    padding-right: 0;
    padding-bottom: 2rem;
    margin-right: 4rem;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 0;
  }

  .homeSummary {
    padding-top: 0rem;
    padding-right: 0;
    padding-bottom: 3rem;
    margin-right: 4rem;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 0;

  }
}

@media (min-width: 1335px) and (max-width: 1430px) {
  .aboutSummary {
    margin-right: 16rem;
  }
}

@media (min-width: 992px) and (max-width: 1335px) {

  .aboutSummary {
    margin-right: 8rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .homeSummary {
    left: 0;
  }

  .aboutSummary {
    left: 0;
  }
}


@media (max-width: 576px) {
  .home-projects {
    padding: 0 1.5rem 1.5rem;
    position: relative;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .home-project {
    width: 100%;
    padding-right: 0;
    margin-top: 1rem;
    margin-bottom: 4rem;
    margin-left: 0;
    // &:first-child {
    //   margin-top: 2rem;
    // }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .home-project {
    max-width: 100%;

    &-subtitle {
      max-width: none;
    }
  }
}

@media (max-width: 576px) {
  .home-project-title {
    font-size: 19px;
    margin-bottom: .3rem;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .home-project-thumbnail-padding {
    padding-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  .home-project-thumbnail-padding {
    padding-bottom: 0;
  }
}

@media (max-width: 992px) {
  .home-project-text {
    padding: 1.5rem 0 0 0;
  }

  // .home-project-thumbnail-wrapper {
  //   padding-right: 0;
  // }
}

@media (max-width: 576px) {
  .home-project-thumbnail {
    height: auto;
    width: 100%;
  }

  .home-project-about {
    height: auto;
    width: 100%;
  }
}


@media (min-width: 576px) and (max-width: 992px) {
  .home-project-thumbnail {
    height: auto;
    width: 100%;
    max-height: none;
  }
}

@media (max-width: 1200px) {
  .home-project-thumbnail-padding {
    padding-right: 0rem;
  }
}

@media (max-width: 576px) {
  .home-eye {
    display: none;
  }
}

.project-section-padding-bottom {
  padding-bottom: 5rem;
}

@media (max-width: 768px) {
  .project-section-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .project-section-padding-bottom {
    padding-top: 1.5rem;
  }
}

.project-ending-button {
  text-align: right;
}

@media (max-width: 768px) {
  .project-ending-button {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .project-ending-button {
    margin: auto;
    text-align: center;
  }
}

.pw-subtitle {
  text-align: center;

}

.footer-project-subheader {
  font-size: 16px;
}

.modalTest {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4)
}

.animateTest {
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.display-topright {
  position: absolute;
  right: 0;
  top: 0
}

// CODYHOUSE MODAL

// @import 'bourbon';

@import '../partials/_variables.scss'; // colors, fonts etc...

@import '../partials/_mixins.scss'; // custom mixins

@import '../partials/_layout.scss'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
  // @include box-sizing(border-box);
  box-sizing: border-box;
}

// html {
// 	font-size: 62.5%;
// }

body {
  // font: {
  // 	size: 1.6rem;
  // 	family: $primary-font;
  // }
  // color: $color-1;
  // background-color: $color-3;

  &.overflow-hidden {
    /* used when modal is visible */
    overflow: hidden;
  }
}

/* -------------------------------- 

Main Components 

-------------------------------- */

header {
  position: relative;
  height: 160px;
  line-height: 160px;

  h1 {
    font-size: 2.4rem;
    text-align: center;
  }

  @include MQ(L) {
    height: 240px;
    line-height: 240px;

    h1 {
      font-size: 3.2rem;
      font-weight: 300;
    }
  }
}

.cd-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  // @include transition(visibility 0s .3s, opacity .3s 0s, z-index 0s .3s);
  transition: visibility 0s .2s, opacity .2s 0s, z-index 0s .2s;

  &::after {
    /* gradient overlay at bottom of modal window */
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    pointer-events: none;
    background: transparent;
    // @include background(linear-gradient(to top,rgba($color-1, 1), rgba($color-1, 0)));
    // background: linear-gradient(to top,rgba($color-1, 1), rgba($color-1, 0));
  }

  .cd-modal-content {
    height: 100%;
    width: 100%;
    padding: 3em 5%;
    text-align: left;
    overflow-y: auto;
    // @include font-smoothing;

  }


  .modal-is-visible & {
    z-index: 3000;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: visibility 0s 0s, opacity .1s 0s, z-index 0s 0s;

    .cd-modal-content {
      -webkit-overflow-scrolling: touch;
    }
  }
}

.modal-content-open {
  background-color: $bg-color;
  box-shadow: 0 3px 8px 0 rgba(67, 63, 61, 0.15), 0 4px 20px 0 rgba(67, 63, 61, 0.14);
  border-radius: 4px;
  margin: 0 5% 0 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow-y: scroll;
  height: 90%;
}

@media (max-width: 576px) {
  .modal-content-open {
    margin: 0 !important;
    height: 100%;
  }

  .cd-modal .cd-modal-content {
    padding: 0;
  }

  .home-project-modalText {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .home-project-modalThumbnail {
    height: auto;
    border-radius: 0;
  }
}

.cd-modal-action {
  position: relative;

  .btn,
  .cd-modal-bg {
    display: inline-block;
    height: 4em;
    background-color: $bg-color;
    opacity: .8 !important;
  }

  .btn {
    width: 12.5em;
    border-radius: 5em;

    color: $color-3;
    line-height: 4em;
    white-space: nowrap;
    font-weight: 700;
    @include font-smoothing;
    transition: color .05s .1s, width .1s 0s;

    &.to-circle {
      width: 4em;
      color: transparent;
      transition: color .05s 0s, width .1s .05s;

    }
  }

  .cd-modal-bg {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    width: 4em;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translateZ(0);
    transform: translateX(-2em);
    transition: visibility 0s .05s;

    &.is-visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

.cd-modal-close {
  position: fixed;
  z-index: 1;
  top: 32px;
  right: 32px;

  height: 40px;
  width: 40px;
  border-radius: 50%;

  background: rgba(#fdfcf7, 1) url(../img/close.svg) no-repeat center center;
  border: solid 2px $blue;

  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;

  visibility: hidden;
  opacity: 0;
  box-shadow: 0 3px 8px 0 transparent, 0 4px 20px 0 transparent;
  transition: transform .2s 0s, visibility .1s 0s, opacity .2s 0s;

  &:hover {
    box-shadow: 0 3px 8px 0 rgba(67, 63, 61, 0.15), 0 4px 20px 0 rgba(67, 63, 61, 0.14);
  }


  .no-touch &:hover {
    background-color: rgba(#000, .5);
  }

  .modal-is-visible & {
    visibility: visible;
    opacity: 1;
    transition: transform .1s 0s, visibility 0s 0s, opacity .1s 0s, box-shadow .3s;
    transform: scale(1);
  }
}