html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "IBMPlexSans-Regular", Arial, Helvetica, sans-serif;
  background: $bg-color;
  color: $heading-color;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

::selection {
  background: $yellow-highlight;
  color: $bg-color;
}

::-moz-selection {
  background: $yellow-highlight;
  color: $bg-color;
}

.container {
  max-width: 100%;
}

a {
  color: #595958;
  text-decoration: none;
  display: inline;

  &:hover {
    color: $yellow;
  }
}

.text-left {
  padding-right: 4rem !important;

  p {
    margin-top: 1.5rem;
  }
}

@media (max-width: 512px) {
  .text-left {
    padding-right: 0 !important;
  }
}

.principles-text-center {
  text-align: center;
}

.text-center {
  text-align: center;
}

.spread-text {
  font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
  color: #f9f9fa;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 4em;
  padding-bottom: 4em;

  span {
    margin: 0;
    color: #edeff1;
    text-transform: none;
    font-size: 16px;
    line-height: 1.5em;
  }
}

.aboutpagelink {
  margin-right: 1rem;
}

.aboutpagelinks {
  font-size: 20px;
  padding: 2rem 2rem 4rem;

  &-border {
    border-top: 1px solid #d7dcda;
    width: 100%;
    padding-top: 4rem;

  }
}

@media (max-width: 512px) {
  .aboutpagelinks {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 18px;
  }

  .aboutpagelink {
    margin-right: 1.3rem;

    &:last-child {
      margin-right: 0;
    }
  }
}



@media (max-width: 512px) {
  .about {
    padding: 1rem;
  }
}

@media (max-width: 512px) {
  .aboutpagelinks {
    font-family: "IBMPlexSans-Text", Arial, Helvetica, sans-serif;
  }
}

@media (max-width: 512px) {
  .mobile-padding {
    padding-top: 50px;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.box {
  max-height: 130px;
  border-radius: 6px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.box h2 {
  font-size: 16px;
}

.box-padding {
  padding: 10px;
}

@media (max-width: 992px) {
  .box-padding {
    padding-bottom: 10px;
  }
}

.thumb-heading {
  font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
}

.thumb-padding {
  padding-bottom: 30px;
}

@media (max-width: 992px) {
  .thumb-padding {
    padding-bottom: 30px;
  }
}

.box-text {
  font-family: "IBMPlexSans-Regular", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  padding-left: 10px;
  color: #4b4a4a;

  p {
    margin-bottom: 0;
  }
}

.box-text div {
  display: table;
  width: 100%;
  height: 100%;
}

.box-text span {
  text-align: center;
  vertical-align: middle;
  color: #595958;
  display: none;
}

.box-text:hover span {
  display: table-cell;
}

@media (max-width: 512px) {
  .box-text:hover span {
    display: table-cell;
  }
}

.box-active {
  height: 54px;
  position: relative;
  width: 100%;
  border-left: 1px solid $n60;
  margin: 1rem 0;
}

@media (max-width: 512px) {
  .box-active {
    margin: 1rem 0;
  }
}

.box-text-active {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-right: 2rem;
  padding-left: 2rem;
  color: $n50;

  h2 {
    color: $n60;
  }
}

.box-text-active div {
  display: table;
  width: 100%;
  height: 100%;
}

.box-text-active span {
  display: table-cell;
  vertical-align: middle;
  color: $n60;

  p {
    color: $n50;
  }
}

.box-text-active h2 {
  color: $bg-color;
  font-size: 16px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.box-text-active p {
  color: #d7dcda;
  line-height: 1.2em;
}

.box-footer {
  height: 54px;
  position: relative;
  width: 100%;
  border-left: 1px solid #4D4C4C;
  transition: border-left-color .3s ease-in-out;
  margin: 1rem 0;

  h2 {
    font-size: 16px;
  }
}

@media (max-width: 512px) {
  .box-footer {
    margin: 1rem 0;
  }
}

.box-footer-text {
  font-family: "IBMPlexSans-Regular", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-right: 2rem;
  padding-left: 2rem;
  color: #d7dcda;

  p {
    margin-bottom: 0;
  }
}

.margin-right-xs {
  margin-right: 1rem;
}

.margin-horiz-0 {
  margin-left: 0;
  margin-right: 0;
}

.box-footer-text p {
  color: #C5C4C2;
  line-height: 1.2em;
}

.box-footer-text h2 {
  color: $bg-color;
}

.box-footer-text div {
  display: table;
  width: 100%;
  height: 100%;
}

.box-footer-text span {
  display: table-cell;
  vertical-align: middle;
  color: $bg-color;
  transition: color .3s ease-in-out;

  p {
    transition: color .3s ease-in-out;
  }
}

.box-footer-text:hover span {
  color: $n60;
}

.box-footer-text span:hover {
  cursor: pointer;

  p {
    transition: color .3s ease-in-out;
    color: $n50;
  }
}

@media (max-width: 512px) {
  .box-footer-text:hover span {
    display: table-cell;
  }
}

.about-link {
  border-bottom: 1.5px solid transparent;
  transition: border-bottom 0.1s ease-in-out, color 0.1s ease-in-out;
  // font-family: "IBMPlexSans-Text", Arial, Helvetica, sans-serif;

  &-dark {
    color: $heading-color;
    border-color: $heading-color;

    &:hover {
      color: $yellow;
      border-color: transparent;
      text-decoration: none;
    }
  }

  &-primary {
    color: $yellow;
    border-color: $yellow;

    &:hover {
      color: $yellow;
      border-color: transparent;
      text-decoration: none;
    }
  }

  &-light {
    color: $bg-color;
    border-color: $bg-color;

    &:hover {
      color: $bg-color;
      border-color: transparent;
      text-decoration: none;
    }
  }
}

.footer {
  bottom: 0;
  padding: 0 2rem 2rem 2rem;
  font-size: 14px;
}

@media (max-width: 767px) {
  .footer {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.home-links {
  padding-top: 1rem;
}

.aboutSummary {
  position: absolute;
  margin-right: 22rem;
  top: 0.5rem;
  left: 8rem;
  font-size: 22px;
  color: $heading-color;
  z-index: 1000;
  padding-bottom: 2rem;
}


.homeSummary {
  // position: absolute;
  // margin-right: 10rem;
  // top: -.2rem;
  // left: 8rem;
  font-size: 20px;
  color: $heading-color;
  z-index: 1000;
  padding-bottom: 4rem;
  border-bottom: 1px solid #d7dcda;


  &-border {
    margin: 0 auto;
    width: 50%;
    padding: 0 2rem;
  }

  &-heading {
    font-size: 58px;
    padding-bottom: 2rem;
    font-family: "IBMPlexSans-Regular", Arial, Helvetica, sans-serif;
    padding-right: 2rem;
    letter-spacing: -0.2px;
  }

  &-subheading {
    max-width: 42rem;
  }
}

@media (max-width: 512px) {
  .aboutSummary {
    font-family: "IBMPlexSans-Text", Arial, Helvetica, sans-serif;
    position: relative;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
    top: 0;
    left: 0;
    margin-right: 0;
  }

  .homeSummary {
    font-family: "IBMPlexSans-Text", Arial, Helvetica, sans-serif;
    position: relative;
    padding-top: 1.5rem 0 3rem;
    top: 0;
    left: 0;
    // margin-right: 0;

    &-border {
      padding: 2rem 1.5rem 0;
    }

    &-heading {
      padding-right: 0;
      font-size: 30px;
      line-height: 42px;
    }
  }
}

@media (min-width: 512px) {
  .homeSummary {
    &-heading {
      line-height: 68px;
    }
  }
}

@media (max-width: 768px) {
  .homeSummary {
    &-border {
      margin: 0;
      width: 100%;
    }
  }
}

@media (max-width: 512px) {
  .home-links {
    position: relative;
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 512px) {
  .photography-nav {
    position: relative !important;
  }
}

.project-nav {
  padding: 4.5rem 1.5rem 1rem 1.5rem;
  z-index: 1000;
  height: 100%;

  &-logo {
    width: 42px;
    height: 42px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    margin-right: 1.5rem;

    &:hover {
      opacity: 0.8;
    }
  }

  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 6rem;
    background: $bg-color;
    z-index: 1000;
  }

  &-links {
    position: absolute;
    top: 270px;
    left: -3px;
    width: 100%;
    transform-origin: 0% 0%;
    transform: rotate(-90deg);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 512px) {
  .project-nav {
    position: fixed;
    top: 0;
    max-width: 100%;
    background: none;
    padding: 2rem 1.5rem 1rem 1.5rem;
    height: auto;

    &-logo {
      &-dark {
        display: none;
      }
    }
  }
}

@media (min-width: 512px) {
  .project-nav {
    &-logo {
      &-light {
        display: none;
      }
    }
  }
}

@media (max-width: 512px) {
  .project-nav-links {
    transform: none;
    top: 16px;
    bottom: 0;
    width: inherit;
    left: 90px;
  }
}

@media (max-width: 512px) {
  .project-nav-fixed {
    position: fixed;
    background: 0 0;
    z-index: 0;
  }
}

.photo-nav {
  padding: 2rem 13rem 1rem 13rem;
  z-index: 1000;

  &-fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $bg-color;
    z-index: 1000;
  }
}

@media (max-width: 512px) {
  .photo-nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 512px) and (max-width: 1200px) {
  .photo-nav {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 512px) and (max-width: 1200px) {
  .homeSummary-heading {
    font-size: 48px;
    line-height: 54px;
  }
}

@media (max-width: 512px) {
  .home-summary {
    font-size: 18px;
  }
}

.home-link {
  font-family: "IBMPlexSans-Text", "Courier New", Courier, monospace;
  margin-right: 1.5rem;
  letter-spacing: 0.01em;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid $heading-color;
  transition: border-bottom ease-in-out 0.2s;
  color: $heading-color;

  &:last-child {
    margin-right: 0;
  }

  &-light {
    color: $bg-color;

    &:hover {
      color: $bg-color;
      border-color: $bg-color;
    }
  }

  &-dark {
    color: $heading-color;

    &:hover {
      color: $heading-color;
      border-color: $heading-color;
    }

    &-selected {
      color: $yellow;
      border-color: $yellow;

      &:hover {
        color: $yellow;
        border-color: $yellow;
      }
    }
  }

  &-right {
    text-align: right;
  }
}

@media (max-width: 512px) {
  .home-link {
    font-family: "IBMPlexMono-TextItalic", "Courier New", Courier, monospace;
    font-size: 16px;
  }
}

.proj-hero-item {
  font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
  padding-left: 0;
  margin-right: 1rem;
  letter-spacing: 0.01em;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom ease-in-out 0.1s, opacity ease-in-out 0.1s, color 0.1s ease-in-out;
  list-style: none;
  display: inline-block;
  padding-top: 2rem;
  text-transform: capitalize;

  a {
    margin: 0 .5em;
  }
}

@media (max-width: 512px) {
  .proj-hero-item {
    padding-top: 0;
    font-size: 16px;
  }
}

.hero-item {
  font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
  padding-left: 0;
  margin-right: 1rem;
  letter-spacing: 0.01em;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom ease-in-out 0.1s, opacity ease-in-out 0.1s, color 0.1s ease-in-out;
  list-style: none;
  display: inline-block;
  padding-top: .2rem;
  text-transform: capitalize;


  a {
    display: inline-block;
    white-space: nowrap;
    margin: 0 0.5em;
    transition: border .1s ease-in-out;
  }

  &:last-child {
    margin-right: 0;
  }

  &-light {
    color: $bg-color;
    opacity: .8;

    a {
      color: $bg-color;
    }

    &:hover {
      opacity: 1;
      color: $bg-color;
      border-color: $bg-color;
    }
  }

  &-footer {
    margin-bottom: 1rem;

    &-link {
      font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
      padding-left: 0;
      margin-right: 1.5rem;
      letter-spacing: 0.01em;
      font-size: 16px;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: all ease-in-out 0.2s;
      color: #949391;
      text-transform: capitalize;

      &:last-child {
        margin-right: 0;
      }

      &-is-selected {
        color: $n60;

        &:hover {
          border-color: transparent !important;
        }
      }

      &:hover {
        color: $n60;
        border-color: $n60;
      }
    }

  }

  &-dark {
    color: $heading-color;

    a {
      color: $heading-color;
      border-bottom: 2px solid transparent;
    }

    &:hover {
      color: $heading-color;

      a {
        border-color: $heading-color;
      }
    }

    &-selected {
      color: $yellow;

      a {
        color: $yellow;
      }

      &:hover {
        color: $yellow;
        border-color: transparent;
      }
    }
  }

  &-right {
    text-align: right;
  }
}

@media (max-width: 512px) {
  .hero-item {
    font-size: 16px;
    padding-top: 0;
  }
}

@media (min-width: 512px) {
  .hero-item {
    &-light {
      opacity: 1;

      a {
        color: $heading-color;
        border-bottom: 2px solid transparent;
      }

      &:hover {

        a {
          color: $heading-color;
          border-color: $heading-color;
        }
      }
    }
  }
}

.link-dark {
  font-family: "IBMPlexMono-Regular", "Courier New", Courier, monospace;
  padding-left: 0;
  padding-right: 1rem;
  color: #868886;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 12px;
}

.link-dark:hover {
  color: #a4a5a2;
}

@media (max-width: 767px) {
  .link-dark {
    padding-right: 1rem;
  }
}

.link-prominent {
  font-family: IBMPlexMono-Regular, monospace;
  font-weight: 600;
  padding-left: 0;
  padding-right: 1rem;
  color: #4b4a4a;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-size: 12px;
}

@media (max-width: 767px) {
  .link-prominent {
    padding-right: 1rem;
  }
}

.tools-used {
  font-family: IBMPlexMono-Regular, monospace;
  padding-left: 0;
  padding-right: 0;
  color: #949391;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .tools-used {
    text-align: center;
  }
}

.footer-top-section {
  padding: 2rem 12rem 0 12rem;
}

@media (max-width: 512px) {
  .footer-top-section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 512px) {
  .footer-top-section {
    display: none;

  }
}


.footer-item {
  font-family: IBMPlexMono-Regular, monospace;
  padding-left: 0;
  padding-right: 0;
  color: #949391;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom ease-in-out 0.2s, color ease-in-out 0.2s;
}

.footer-item:hover {
  color: #a4a5a2;
  border-color: #a4a5a2;
  // text-decoration: none;
}

@media (max-width: 767px) {
  .footer-item {
    padding-right: 0;
  }
}

@media (max-width: 512px) {
  .footer-item {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .footer-center {
    text-align: center;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .footer-center h1 {
    text-align: right;
  }
}

.text-light {
  color: $bg-color;
}

.text-dark {
  color: $heading-color;
}

.project-subheading {
  font-family: "IBMPlexSans-Text", "Courier New", Courier, monospace;
  color: $heading-color;
  font-size: 24px;
  margin-bottom: 2rem;
}

@media (max-width: 512px) {
  .project-subheading {
    padding: 0;
    margin-left: 0;
    margin-top: 1rem;
  }
}

.photo-container {
  max-width: 100%;
  padding-top: 4rem;
  padding-left: 2rem;
  margin-right: 4rem;
  padding-bottom: 54px;
  margin-left: 6rem;
  padding-right: 10rem;
}

@media (max-width: 512px) {
  .photo-container {
    padding-top: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    background: $bg-color;
  }
}

// @media (min-width: 512px) and (max-width: 1200px) {
//   .photo-container {
//     padding-top: 6rem;
//     padding-bottom: 3rem;
//     padding-left: 54px;
//     padding-right: 54px;
//   }
// }

.design-container {
  max-width: 80%;
  padding-top: 4rem;
}

@media (max-width: 512px) {
  .design-container {
    max-width: 90%;
  }
}

.fadein {
  -webkit-animation: fadein 0.65s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.65s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.65s;
  /* Internet Explorer */
  -o-animation: fadein 0.65s;
  /* Opera < 12.1 */
  animation: fadein 0.65s;
}

.fadein-long {
  -webkit-animation: fadein 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 1.5s;
  /* Internet Explorer */
  -o-animation: fadein 1.5s;
  /* Opera < 12.1 */
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

.fadeout {
  -webkit-animation: fadeout 0.65s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 0.65s;
  /* Firefox < 16 */
  -ms-animation: fadeout 0.65s;
  /* Internet Explorer */
  -o-animation: fadeout 0.65s;
  /* Opera < 12.1 */
  animation: fadeout 0.65s;
}

@keyframes fadeout {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

.fadeinslow {
  -webkit-animation: fadein 1.3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.3s;
  /* Firefox < 16 */
  -ms-animation: fadein 1.3s;
  /* Internet Explorer */
  -o-animation: fadein 1.3s;
  /* Opera < 12.1 */
  animation: fadein 1.3s;
}

@keyframes fadeinslow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeinslow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinslow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeinslow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeinslow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 512px) {
  .override-pos-relative {
    position: relative !important;
  }
}

.frame-bg {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10), 0 6px 10px rgba(0, 0, 0, 0.08);
}

.border-radius-2px {
  border-radius: 2px;
}

.browser-bg {
  border-radius: 4px;
}

.logo {
  font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
  line-height: 1.2em;
  text-decoration: none;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;

  &-light {
    color: $bg-color;

    &:hover {
      color: $g30;

      text-decoration: none;
      transition: color 0.25s ease;
      -webkit-transition: color 0.25s ease;
      -moz-transition: color 0.25s ease;
      -o-transition: color 0.25s ease;
    }
  }

  &-dark {
    color: $heading-color;
  }

  &-home {

    &:hover {
      color: $yellow !important;
    }

    &:hover:after {
      content: url("../img/hero-bg.png");
      position: absolute;
      left: 0;
      top: 24rem;
      max-width: 100px !important;
      z-index: 1005 !important;
    }
  }

  &-primary {
    color: $green;

    &:hover {
      color: $g30;
      text-decoration: none;
      transition: color 0.25s ease;
      -webkit-transition: color 0.25s ease;
      -moz-transition: color 0.25s ease;
      -o-transition: color 0.25s ease;
    }
  }
}

@media (max-width: 512px) {
  .logo-home {
    &:hover:after {
      content: "";
    }
  }
}

@media (min-width: 512px) and (max-width: 1200px) {
  .logo-home {
    &:hover:after {
      content: "";
    }
  }
}

.footer-nav {
  color: #949391;
  text-decoration: none;

  &:hover {
    color: #595958;
    text-decoration: none;
  }
}

.project-footer {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-color: #272928;
  z-index: 101;
  position: relative;
  margin-left: 6rem;
}

.project-footer-projects {
  padding: 4.5rem 12rem 0 12rem;
}

@media (max-width: 512px) {
  .project-footer-projects {
    padding: 2.5rem 1.5rem .5rem 1.5rem;
  }

  .project-footer {
    margin-left: 0;
  }
}

@media (min-width: 512px) and (max-width: 1200px) {
  .project-footer-projects {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.description {
  font-family: "IBMPlexMono-Regular", "Courier New", Courier, monospace;
  color: #949391;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.center-text {
  text-align: center;
}

h2 .project {
  text-align: center;
}

.project-row-element {
  padding: 1rem;
}

.project-padding {

  &-top {
    padding-top: 1rem;
  }

  &-middle {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &-bottom {
    padding-bottom: 2rem;

    &-hero {
      padding-bottom: 3rem;
    }
  }

  &-left {
    padding-left: 1rem;
  }

  &-right {
    padding-right: 1rem;
  }

  &-horiz {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 991px) {
  .project-padding-top {
    padding-top: 1rem;
  }
}

@media (max-width: 512px) {
  .project-row-element {
    padding: 0.75rem 0;
  }
}

@media (max-width: 991px) {
  .project-padding-middle {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 991px) {
  .project-padding-bottom {
    padding-bottom: 2rem;
  }
}

.project-center {
  margin: auto;
}

.margin-none {
  margin: 0;
}

.project-menu {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1003;
  padding: 4rem 2rem 1rem 3rem;
  overflow-x: hidden;
  width: 318px;
  margin-bottom: 35rem;

  &-logo {
    padding-left: 3rem;
    padding-bottom: 3rem;
  }

  p {
    position: relative;
    padding-left: 2rem;

    a {
      background: #f9f9fa;
      padding: 0 1rem;
      position: relative;
      z-index: 1;
    }

    &:before {
      background: #d7dcda;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      top: 50%;
      width: 40px;
      left: 0;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    &:hover:before {
      opacity: 1;
    }
  }
}

@media (max-width: 1100px) {
  .project-menu {
    display: none;
  }
}

.project-navigation {
  width: 100%;
  max-height: 100px;
  position: fixed;
  top: 0;
  padding: 2rem 13rem 0 13rem;
}

.project-meat {
  margin-right: 0;
  margin-left: 6rem;
  margin-top: 550px;
  background: $bg-color;
  position: relative;
}

.project-summary {
  font-size: 18px;
  line-height: 1.5em;
  background: $bg-color;

  &-dropcap {
    font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
    color: $yellow;
    font-size: 80px;
    margin-right: 1rem;
    line-height: 1;
    position: relative;
    float: left;
    margin-top: -0.2rem;
  }
}

@media (max-width: 1100px) {
  .project-meat {
    margin-top: 550px;
    margin-right: 0;
    z-index: 101;
  }
}

.project {
  &-row {
    padding: 2.5rem 12rem;
  }

  &-hero-image {
    display: block;
    width: 100%;
    overflow: hidden;
    opacity: 0.9;
  }

  &-hero-imageSpacer {
    background: rgba(0, 0, 0, 0.05);
    height: 0;
    position: relative;
  }

  &-hero-container {
    position: fixed;
    top: 0;
    left: 6rem;
    width: 100%;
    padding: 1rem 13rem;
    background: $bg-color;
    height: 550px;
    z-index: -1;
    overflow: hidden;


    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 170px;
      left: 0;
      top: 0;
      opacity: 0.3;
      z-index: 1;
      background: linear-gradient(180deg,
          rgba(37, 43, 53, 0.98) 0,
          rgba(37, 43, 53, 0.92) 12%,
          rgba(37, 43, 53, 0.83) 21%,
          rgba(37, 43, 53, 0.7) 30%,
          rgba(37, 43, 53, 0.36) 48%,
          rgba(37, 43, 53, 0.25) 55%,
          rgba(37, 43, 53, 0.16) 63%,
          rgba(37, 43, 53, 0.05) 78%,
          transparent);
      pointer-events: none;
    }

    &::after {
      content: "";
      position: absolute;
      height: 220px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: linear-gradient(180deg,
          transparent 0,
          rgba(37, 43, 53, 0.05) 22%,
          rgba(37, 43, 53, 0.17) 38%,
          rgba(37, 43, 53, 0.31) 49%,
          rgba(37, 43, 53, 0.65) 67%,
          rgba(37, 43, 53, 0.81) 77%,
          rgba(37, 43, 53, 0.85) 85%,
          rgba(37, 43, 53, 0.91) 91%,
          #252b35);
      pointer-events: none;
    }
  }

  &-hero {
    &-sections {
      margin-left: -2rem;

      &-section {
        font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
        letter-spacing: 0.07em;
        font-size: 14px;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;

        span {
          color: transparent;
          transition: all 0.4s ease-in-out;
        }

        &:hover {
          span {
            color: $heading-color;
          }
        }

        &:last-child {
          padding-bottom: 0;
        }

        &-light {
          color: $bg-color;

          &:hover {
            color: $bg-color;
          }
        }

        &-dark {

          &:hover {
            color: $heading-color;
          }
        }
      }
    }

    &-tags {
      position: absolute;
      bottom: 2rem;
      z-index: 4;
    }

    &-tag {
      font-family: "IBMPlexMono-Regular", "Courier New", Courier, monospace;
      letter-spacing: 0.07em;
      font-size: 12px;
      text-transform: uppercase;

      &-light {
        color: $n55;
      }

      &-dark {
        color: $heading-color;
      }
    }

    &-title {
      text-align: center;
      padding-top: 10rem;
      font-size: 80px;
      padding-bottom: 10rem;
      background: $bg-color;
    }
  }
}

@media (max-width: 512px) {
  .project-hero-title {
    font-size: 40px;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.hero-logo {
  position: absolute;
  bottom: 4rem;
  z-index: 4;
  width: 200px;
}

.bg-scheme-light {
  background: $bg-color;
  z-index: 2;
}

@media (max-width: 512px) {
  .hero-logo {
    bottom: 5rem;
  }
}

@media (min-width: 1240px) {
  .project-hero-container {
    height: 550px;
  }
}

@media (max-width: 512px) {
  .project-hero-container {
    height: 550px;
    left: 0;
  }
}

.prev-next {
  padding-left: 1rem;
}

@media (max-width: 512px) {
  .prev-next {
    display: none;
  }
}

@media (max-width: 512px) {
  .project-hero-sections {
    display: none;
  }
}

@media (max-width: 767px) {
  .project-hero {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 512px) {
  .project-hero-tags {
    font-family: "IBMPlexMono-Text", "Courier New", Courier, monospace;
    max-width: 310px;
    bottom: 1.5rem;
  }

  .project-hero-tag {
    font-family: "IBMPlexMono-Text", "Courier New", Courier, monospace;
  }
}

@media (max-width: 512px) {
  .project-hero-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 350px;
  }
}

@media (max-width: 512px) {
  .project-meat {
    margin-top: 350px;
    margin-left: 0;
  }
}

@media (max-width: 512px) {
  .project-meat-tulip {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 512px) {
  .project-meat-eximchain {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 512px) {
  .project-navigation {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 768px) {
  .project-hero-tags {
    padding-top: 1rem;
  }
}

@media (min-width: 512px) and (max-width: 768px) {
  .project-row {
    padding: 1rem;
  }

  h3 span {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .project-hero-container {
    left: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .project-hero-tags {
    max-width: 500px;
  }

  .project-hero-title {
    font-size: 50px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .project-row {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .project-hero-title {
    font-size: 70px;
  }

  h3 span {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .project-hero-container {
    left: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .project-hero-tags {
    max-width: 700px;
  }
}

@media (max-width: 512px) {
  .project-row {
    padding: 0 1.25rem;
  }
}

.hero {
  padding-top: 2em;

  &-logoSymbol {
    width: 36px;
    height: 36px;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    margin-right: 1.5rem;

    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: 767px) {
  .hero {
    padding-top: 6em;
  }
}

.subfooter {
  padding-top: 2rem;
  padding-bottom: 4rem;

  &-border {
    border-top: 1px solid #d7dcda;
  }
}

@media (min-width: 512px) {
  .subfooter-border {
    border-top-color: transparent;
  }
}

@media (max-width: 512px) {
  .subfooter-border {
    padding-top: 3rem;
  }
}

@media (max-width: 512px) {
  .subfooter {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
}

.caption {
  p {
    font-family: "IBMPlexMono-Italic", "Courier New", Courier, monospace;
    font-size: 13px;
    line-height: 1.6em;
    color: #454c4a;
  }
}

@media (min-width: 992px) {
  .caption span {
    display: none;
  }
}

.project-section-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer {
  &-logoSymbol {
    width: 36px;
    height: 36px;
    margin-right: 1.5rem;

    &:hover {
      opacity: 0.8;
    }
  }
}

.tag {
  font-family: "IBMPlexSans-Text", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  padding: 4px 5px 3px 5px;
  background: #E7EAE9;
  border-radius: 3px;
  margin-left: 8px;
  margin-top: 5.5px;
  letter-spacing: 0.07em;
  position: absolute;
}

@media (max-width: 512px) {
  .tag {
    display: none !important;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

.home-project:hover .home-project-text .home-project-title .tag {
    color: #fff !important;
    background: #b5792a;
  
}


.home {
  padding: 0 4rem;

  &-eye {
    width: 36px;
    height: 36px;
  }

  &-logoSymbol {
    width: 42px;
    height: 42px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    margin-right: 1.5rem;

    &:hover {
      opacity: 0.8;
    }
  }

  &-projects {
    // position: absolute;
    // top: 29rem;
    // left: 8rem;
    background: $bg-color;
    // margin: 0 -2rem;
    padding-top: 3rem;
    // right: 0;
    // margin-left: 6rem;
    // margin-right: 6rem;
    // display: flex;
    // flex-wrap: nowrap;
    // padding-left: 6rem;
  }

  &-project {
    padding-bottom: 2rem;
    padding-top: 2rem;
    flex: 0 0 auto;
    padding-right: 2rem;
    padding-left: 2rem;

    &:hover {
      .home-project-thumbnail {
        opacity: .95;
        box-shadow: 0 10px 14px rgba(0, 0, 0, 0.10), 0 3px 5px rgba(0, 0, 0, 0.08);
      }
    }

    &-text {
      margin: auto;
      padding-top: 1rem;
    }

    &-about {
      border-radius: 4px;
      display: block;
      height: auto;
      max-height: 340px;
      opacity: 1;
      transition: opacity .2s ease-in-out;
    }

    &-thumbnail {
      border-radius: 4px;
      display: block;
      height: auto;
      // max-height: 340px;
      max-width: 100%;
      opacity: 1;
      transition: all .2s ease-in-out;
      // transition: box-shadow .2s ease-in-out;






      // &:hover {
      //   opacity: .9;
      //   box-shadow: 0 14px 20px rgba(0, 0, 0, 0.10), 0 6px 10px rgba(0, 0, 0, 0.08);
      // }



      &-padding {
        padding-right: 1.5rem;
      }
    }

    transition: color 0.1s ease-in-out;

    &:hover {

      .home-project-text .home-project-title {
        color: $yellow;
      }

      .home-project-text .home-project-title span {
        color: $yellow;
      }

      .home-project-text .home-project-subtitle {
        color: $yellow;
      }
    }
  }

  &-project-logo {
    width: 30px;
    padding-bottom: 0.5rem;
  }

  &-project-subtitle {
    font-family: "IBMPlexSans-Regular", Arial, Helvetica, sans-serif;
    color: $heading-color;
    margin-bottom: 0.5rem;
    line-height: 1.3em;
    transition: color 0.1s ease-in-out;
    max-width: 496px;
  }

  &-project-title {
    font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
    color: $heading-color;
    transition: color 0.1s ease-in-out;

    span {
      transition: color 0.1s ease-in-out;
    }

  }
}

@media (max-width: 992px) {
  .home-projects {
    margin: 0;
  }

  .home-project {
    padding-left: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .home {
    padding: 0 4rem;
  }
}

@media (min-width: 512px) and (max-width: 768px) {
  .home {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 512px) {
  .home {
    padding: 0;
    margin-left: 0;
  }
}

@media (min-width: 512px) and (max-width: 992px) {
  .aboutSummary {
    padding-top: 0rem;
    padding-right: 0;
    padding-bottom: 2rem;
    margin-right: 4rem;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 0;
  }

  .homeSummary {
    padding-top: 0rem;
    padding-right: 0;
    padding-bottom: 3rem;
    margin-right: 4rem;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 0;

    // &-heading {
    //   padding-right: 5rem;
    // }
  }
}

@media (min-width: 1335px) and (max-width: 1430px) {
  // .homeSummary {
  //   margin-right: 9rem;
  // }

  .aboutSummary {
    margin-right: 16rem;
  }
}

@media (min-width: 992px) and (max-width: 1335px) {

  // .homeSummary {
  //   margin-right: 4rem;
  // }
  .aboutSummary {
    margin-right: 8rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .homeSummary {
    left: 0;
  }

  .aboutSummary {
    left: 0;
  }

  // .home-project-text {
  //   max-width: 418px;
  // }
}


@media (max-width: 512px) {
  .home-projects {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 3rem;
    position: relative;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

// @media (min-width: 992px) and (max-width: 1335px) {
//   .home-projects {
//     top: 32rem;
//   }
// }

@media (max-width: 512px) {
  .home-project {
    width: 100%;
    padding-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;

    &:first-child {
      // padding-left: 0;
      padding-top: 2rem;
    }

    // &:last-child {
    //   padding-right: 0;
    // }
  }
}

@media (min-width: 512px) and (max-width: 992px) {
  .home-project {
    padding-right: 2rem;
    width: 100%;

    // &:first-child {
    //   padding-left: 0;
    //   padding-top: 0;
    // }

    // &:last-child {
    //   padding-right: 0;
    // }

    &-subtitle {
      max-width: none;
    }
  }
}

@media (max-width: 512px) {
  .home-project-title {
    font-size: 19px;
  }
}

// @media (min-width: 512px) and (max-width: 992px) {
//   .home-projects {
//     position: relative;
//     padding-left: 0;
//     padding-right: 0;
//     padding-top: 2rem;
//     position: relative;
//     flex-wrap: wrap;
//     top: 0;
//     left: 0;
//     margin-right: 0;
//     margin-left: 0;
//   }
// }

@media (min-width: 512px) and (max-width: 1200px) {
  .home-project-thumbnail-padding {
    padding-bottom: 2rem;
  }
}

@media (max-width: 512px) {
  .home-project-thumbnail-padding {
    padding-bottom: 0;
  }
}

@media (max-width: 512px) {
  .home-project-text {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 512px) {
  .home-project-thumbnail {
    height: auto;
    width: 100%;
  }

  .home-project-about {
    height: auto;
    width: 100%;
  }
}

// @media (min-width: 992px) and (max-width: 1200px) {
//   .home-project-thumbnail {
//     max-height: 270px;
//   }
// }

@media (min-width: 512px) and (max-width: 992px) {
  .home-project-thumbnail {
    height: auto;
    width: 100%;
    max-height: none;
  }
}

@media (max-width: 1200px) {
  .home-project-thumbnail-padding {
    padding-right: 0rem;
  }
}

@media (max-width: 512px) {
  .home-eye {
    display: none;
  }
}

.project-section-padding-bottom {
  padding-bottom: 5rem;
}

@media (max-width: 768px) {
  .project-section-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .project-section-padding-bottom {
    padding-top: 1.5rem;
  }
}

.project-ending-button {
  text-align: right;
}

@media (max-width: 768px) {
  .project-ending-button {
    text-align: left;
  }
}

@media (max-width: 512px) {
  .project-ending-button {
    margin: auto;
    text-align: center;
  }
}