html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: IBMPlexSans-Regular;
  background-color: $bg-color;
  color: #4b4a4a;
  // margin: 0 60px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow: auto;
}

.container {
  max-width: 100%;
}

a {
  color: #595958;
  text-decoration: none;
  display: inline;

  &:hover {
    color: #282726;
    text-decoration: underline;
  }
}

p {
  margin: 0;
  line-height: 1.3em;
}

.mobile-padding p {
  text-align: center;
}

h1 {
  color: #4b4a4a;
  font-size: 22px;
  letter-spacing: 1px;
  font-style: italic;
  a:hover {
    text-decoration: none;
  }
}

h2 {
  font-family: BluuNext-Bold;
  color: $heading-color;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;

  span {
    margin: 0;
    font-family: IBMPlexSans-Regular;
    color: #4b4a4a;
    text-transform: none;
    font-size: 16px;
    line-height: 1.5em;
  }
}

.spread-text {
  font-family: BluuNext-Bold;
  color: #f9f9fa;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding-top: 4em;
  padding-bottom: 4em;

  span {
    margin: 0;
    color: #edeff1;
    text-transform: none;
    font-size: 16px;
    line-height: 1.5em;
  }
}

h3 {
  font-family: BluuNext-Bold, serif;
  text-transform: uppercase;
  position: relative;
  padding-left: 4rem;
  color: $heading-color;
  font-size: 1.5em;
  letter-spacing: 1px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  // margin: 0px -60px;

  span {
    background: $bg-color;
    padding: 0 15px;
    position: relative;
    z-index: 1;
  }

  &:before {
    background: #d7dcda;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
  }
}

.about {
  padding: 0 2rem;
  margin: auto;
}

@media (max-width: 512px) {
  .about {
    padding: 0 1rem;
  }
}

.mobile-padding {
  padding-left: 5px;
}

@media (max-width: 768px) {
  .mobile-padding {
    padding-top: 200px;
  }
}

@media (min-width: 512px) {
  .mobile-padding {
    padding-top: 200px;
  }
}

@media (max-width: 512px) {
  .mobile-padding {
    padding-top: 50px;
  }
}

@media (max-width: 912px) {
  .mobile-padding-top {
    padding-top: 50px;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.box {
  max-height: 150px;
  border-radius: 3px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #edeff1;
}
.box h2 {
  font-size: 16px;
}

.box img {
  min-height: 150px;
  width: 100%;
  border-radius: 3px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.box:hover img {
  display: block;
  background: $bg-color;
}

@media (max-width: 512px) {
  .box:hover {
    background: $bg-color;
  }
}

@media (max-width: 512px) {
  .box:hover img {
    display: none;
  }
}
.box-padding {
  padding-bottom: 0px;
}

@media (max-width: 992px) {
  .box-padding {
    padding-bottom: 10px;
  }
}

.thumb-padding {
  padding-bottom: 30px;
}

@media (max-width: 992px) {
  .thumb-padding {
    padding-bottom: 30px;
  }
}

.box:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.box-text {
  font-family: IBMPlexSans-Light;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  padding-left: 10px;
  color: #4b4a4a;
}

.box-text div {
  display: table;
  width: 100%;
  height: 100%;
}

.box-text span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #595958;
}

.box-text:hover span {
  display: none;
}

@media (max-width: 512px) {
  .box-text:hover span {
    display: table-cell;
  }
}

.box-active {
  max-height: 150px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  background: #282a29;
}

.box-active:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.box-text-active {
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  right: 10px;
}

.box-text-active div {
  display: table;
  width: 100%;
  height: 100%;
}

.box-text-active span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: $bg-color;
}

.box-text-active h2 {
  color: $bg-color;
  font-size: 16px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.box-text-active p {
  color: #d7dcda;
  line-height: 1.2em;
}

.box-footer {
  max-height: 150px;
  border-radius: 3px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #313432;

  h2 {
    font-size: 16px;
  }

  img {
    min-height: 150px;
    width: 100%;
    border-radius: 3px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  &:hover img {
    display: block;
    background: #282a29;
  }
}

@media (max-width: 512px) {
  .box-footer:hover {
    background: #282a29;
  }
}

@media (max-width: 512px) {
  .box-footer:hover img {
    display: none;
  }
}

.box-footer:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.box-footer-text {
  font-family: IBMPlexSans-Light;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  padding-left: 10px;
  color: #d7dcda;
}

.box-footer-text p {
  color: #d7dcda;
  line-height: 1.2em;
}

.box-footer-text h2 {
  color: $bg-color;
}

.box-footer-text div {
  display: table;
  width: 100%;
  height: 100%;
}

.box-footer-text span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: $bg-color;
}

.box-footer-text:hover span {
  display: none;
}

@media (max-width: 512px) {
  .box-footer-text:hover span {
    display: table-cell;
  }
}

.about-link {
  color: #4b4a4a;
  font-weight: bold;
}

.footer {
  bottom: 0;
  padding: 0 2rem 2rem 2rem;
  font-size: 14px;
}

@media (max-width: 767px) {
  .footer {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.hero-item {
  font-family: IBMPlexMono-Regular, monospace;
  padding-left: 0;
  padding-right: 1rem;
  color: #868886;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 12px;
}

@media (max-width: 767px) {
  .hero-item {
    padding-right: 1rem;
  }
}

.link-dark {
  font-family: IBMPlexMono-Regular, monospace;
  padding-left: 0;
  padding-right: 1rem;
  color: #868886;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 12px;
}

.link-dark:hover {
  color: #a4a5a2;
}

@media (max-width: 767px) {
  .link-dark {
    padding-right: 1rem;
  }
}

.link-prominent {
  font-family: IBMPlexMono-Regular, monospace;
  font-weight: 600;
  padding-left: 0;
  padding-right: 1rem;
  color: #4b4a4a;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-size: 12px;
}

@media (max-width: 767px) {
  .link-prominent {
    padding-right: 1rem;
  }
}

.footer-item {
  font-family: IBMPlexMono-Regular, monospace;
  padding-left: 0;
  padding-right: 0;
  color: #949391;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-size: 12px;
}

.footer-item:hover {
  color: #a4a5a2;
}

@media (max-width: 767px) {
  .footer-item {
    padding-right: 0;
  }
}

@media (max-width: 512px) {
  .footer-item {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .footer-center {
    text-align: center;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .footer-center h1 {
    text-align: right;
  }
}

.top-logo {
  font-family: IBMPlexSans-Light;

  &-light {
    color: $bg-color;
  }
}

.footer-nav {
  font-family: IBMPlexSans-Light;
  color: #949391;
  text-decoration: none;
  &:hover {
    color: #595958;
    text-decoration: none;
  }
}

.footer-background {
  background-color: #282a29;
  padding-left: 30px;
  padding-right: 30px;
}

.description {
  font-family: IBMPlexMono-Regular, monospace;
  color: #949391;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-size: 12px;
}

.center-text {
  text-align: center;
}

h2 .project {
  text-align: center;
}

.project-padding {
  padding: 1rem;
  &-top {
    padding-top: 1rem;
  }
  &-middle {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &-bottom {
    padding-bottom: 2rem;

    &-hero {
      padding-bottom: 3rem;
    }
  }
  &-left {
    padding-left: 1rem;
  }
  &-right {
    padding-right: 1rem;
  }
  &-horiz {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 991px) {
  .project-padding-top {
    padding-top: 1rem;
  }
}

@media (max-width: 991px) {
  .project-padding-middle {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 991px) {
  .project-padding-bottom {
    padding-bottom: 2rem;
  }
}

.project-center {
  margin: auto;
}

.project {
  &-info {
    padding: 1rem 4rem;
  }
  &-hero {
    padding: 1rem 4rem;

    &-tags {
      color: $bg-color;
    }

    &-title {
      color: $bg-color;
    }
  }
}

@media (max-width: 768px) {
  .project-info {
    padding: 1rem;
  }
}

.hero {
  padding-top: 2em;
}

@media (min-width: 767px) {
  .hero {
    padding-top: 6em;
  }
}

.caption p {
  font-family: IBMPlexMono-Regular, monospace;
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  padding-top: 1em;
  line-height: 1.6em;
  color: #454c4a;
}

.caption-left p {
  font-family: IBMPlexMono-Regular, monospace;
  font-style: italic;
  font-weight: medium;
  font-size: 13px;
  padding-top: 1rem;
  line-height: 1.6em;
  color: #454c4a;
}

@media (min-width: 992px) {
  .caption-left span {
    display: none;
  }
}

.project-section-padding {
  padding-top: 5rem;
}

.project-section-padding-bottom {
  padding-bottom: 5rem;
}

@media (max-width: 768px) {
  .project-section-padding {
    padding-top: 1.5rem;
  }
}

@media (max-width: 768px) {
  .project-section-padding-bottom {
    padding-top: 1.5rem;
  }
}

.project-ending-button {
  text-align: right;
}

@media (max-width: 768px) {
  .project-ending-button {
    text-align: left;
  }
}
