// BLUU NEXT --------------------------------------------------------------------


@font-face {
  font-family: "BluuNext-Bold";
  src: url("fonts/BluuNext/bluunext-bold-webfont.woff2") format("woff2"),
    url("fonts/BluuNext/BluuNext-Bold.woff") format("woff");
    font-display: swap;
}

// IBM PLEX SANS --------------------------------------------------------------------

@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("fonts/IBMPlexSans/IBMPlexSans-Regular-Latin1.woff2") format("woff2"),
  url("fonts/IBMPlexSans/IBMPlexSans-Regular-Latin1.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSans-Text";
  src: url("fonts/IBMPlexSans/IBMPlexSans-Text-Latin1.woff2") format("woff2"),
  url("fonts/IBMPlexSans/IBMPlexSans-Text-Latin1.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url("fonts/IBMPlexSans/IBMPlexSans-SemiBold-Latin1.woff2") format("woff2"),
  url("fonts/IBMPlexSans/IBMPlexSans-SemiBold-Latin1.woff") format("woff");
  font-display: swap;
}

// IBM PLEX MONO --------------------------------------------------------------------

@font-face {
  font-family: "IBMPlexMono-SemiBold";
  src: url("fonts/IBMPlexMono/IBMPlexMono-SemiBold.woff2") format("woff2"),
  url("fonts/IBMPlexMono/IBMPlexMono-SemiBold.woff") format("woff");
  font-display: swap;
}


h4 {
  font-family: "IBMPlexSans-SemiBold", 'Helvetica Neue', Arial, sans-serif;
  color: #797979;
  font-size: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

h5 {
  font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
  color: $heading-color;
  font-size: 48px;
  line-height: 1.15em;
}

@media (max-width: 675px) {
  h5 {
    font-size: 40px;
  }
}

@media (max-width: 440px) {
  h5 {
    font-size: 34px;
  }
}

h6 {
  font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
  color: $heading-color;
  font-size: 64px;
  letter-spacing: -0.05em;
  text-align: center;
}

p {
  font-size: 17px;
  line-height: 1.6em;
  margin-bottom: 0;
}

@media (max-width: 512px) {
  p {
    font-family: "IBMPlexSans-Text", 'Helvetica Neue', Arial, sans-serif;
  }
}

@media (max-width: 675px) {
  h6 {
    font-size: 100px;
  }
}

h3 {
  font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
  position: relative;
  color: $heading-color;
  font-size: 2em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
}

@media (max-width: 512px) {
  h3 {
    padding-left: 0;

    span {
      padding-left: 1.25rem;
      margin-left: 0rem;
      margin-right: 0;
    }
  }
}

h1 {
  font-size: 22px;

  span {
    font-family: "IBMPlexSans-Regular", 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    text-transform: none;
    line-height: 1.5em;
    color: $heading-color;
  }
}

h2 {
  font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
  color: $heading-color;
  font-size: 18px;

  span {
    font-family: "IBMPlexSans-Regular", 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    text-transform: none;
    font-size: 18px;
    line-height: 1.5em;
  }
}

@media (max-width: 512px) {
  h2 {
    span {
      font-family: "IBMPlexSans-Text", 'Helvetica Neue', Arial, sans-serif;
      font-size: 17px;
    }
  }
}