@font-face {
  font-family: IBMPlexSans-Regular;
  src: url("fonts/IBMPlexSans/IBMPlexSans-Regular.woff") format("woff"),
    url("fonts/IBMPlexSans/IBMPlexSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: BluuNext-Bold;
  src: url("fonts/bluunext-bold-webfont.woff") format("woff"),
    url("fonts/BluuNext-Bold.otf") format("opentype");
}

@font-face {
  font-family: IBMPlexSans-Bold;
  src: url("fonts/IBMPlexSans/IBMPlexSans-Bold.woff") format("woff"),
    url("fonts/IBMPlexSans/IBMPlexSans-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: IBMPlexSans-SemiBold;
  src: url("fonts/IBMPlexSans/IBMPlexSans-SemiBold.woff") format("woff"),
    url("fonts/IBMPlexSans/IBMPlexSans-SemiBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: IBMPlexSans-Italic;
  src: url("fonts/IBMPlexSans/IBMPlexSans-Italic.woff") format("woff"),
    url("fonts/IBMPlexSans/IBMPlexSans-Italic.otf") format("opentype");
}

@font-face {
  font-family: IBMPlexSans-Light;
  src: url("fonts/IBMPlexSans/IBMPlexSans-Light.woff") format("woff"),
    url("fonts/IBMPlexSans/IBMPlexSans-Light.otf") format("opentype");
}

@font-face {
  font-family: IBMPlexMono-Regular;
  src: url("fonts/IBMPlexMono/IBMPlexMono-Regular.woff") format("woff"),
    url("fonts/IBMPlexMono/IBMPlexMono-Regular.otf") format("opentype");
}

@font-face {
  font-family: IBMPlexMono-Italic;
  src: url("fonts/IBMPlexMono/IBMPlexMono-Italic.woff") format("woff"),
    url("fonts/IBMPlexMono/IBMPlexMono-Italic.otf") format("opentype");
}

h4 {
  font-family: IBMPlexSans-Medium;
  color: #797979;
  font-size: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

h5 {
  font-family: BluuNext-Bold;
  color: $heading-color;
  font-size: 48px;
  // letter-spacing: -0.03em;
  line-height: 1.15em;
  // text-transform: uppercase;
}

@media (max-width: 675px) {
  h5 {
    font-size: 40px;
  }
}

@media (max-width: 440px) {
  h5 {
    font-size: 34px;
  }
}

h6 {
  font-family: BluuNext-Bold;
  color: $heading-color;
  font-size: 64px;
  letter-spacing: -0.05em;
  text-align: center;
}

@media (max-width: 675px) {
  h6 {
    font-size: 100px;
  }
}

h3 {
  font-family: BluuNext-Bold, serif;
  text-transform: uppercase;
  position: relative;
  padding-left: 4rem;
  color: $heading-color;
  font-size: 1.5em;
  letter-spacing: 1px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  // margin: 0px -60px;

  span {
    background: $bg-color;
    padding: 0 15px;
    position: relative;
    z-index: 1;
  }

  &:before {
    background: #d7dcda;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
  }
}

h1 {
  color: $heading-color;
  font-size: 22px;
  // letter-spacing: 1px;
  // font-style: italic;
  // a:hover {
  //   text-decoration: none;
  // }
  span {
    margin: 0;
    font-family: IBMPlexSans-Regular;
    // color: #4b4a4a;
    text-transform: none;
    // font-size: 16px;
    line-height: 1.5em;
  }
}

.Bluu {
  font-family: BluuNext-Bold;
}

h2 {
  font-family: BluuNext-Bold;
  color: $heading-color;
  font-size: 14px;
  letter-spacing: 0.3px;
  // text-transform: uppercase;

  span {
    margin: 0;
    font-family: IBMPlexSans-Regular;
    color: #4b4a4a;
    text-transform: none;
    font-size: 16px;
    line-height: 1.5em;
  }
}
