// BLUU NEXT --------------------------------------------------------------------


@font-face {
  font-family: "BluuNext-Bold";
  src: url("fonts/BluuNext/bluunext-bold-webfont.woff2") format("woff2"),
    url("fonts/BluuNext/BluuNext-Bold.woff") format("woff");
    font-display: swap;
}

// SOHNE --------------------------------------------------------------------



@font-face {
  font-family: "Sohne-Light";
  src: url("fonts/Sohne/soehne-leicht.woff2") format("woff2");
    font-display: swap;
}

@font-face {
  font-family: "Sohne-Kraftig";
  src: url("fonts/Sohne/soehne-kraftig.woff2") format("woff2");
    font-display: swap;
}



// MIGRA --------------------------------------------------------------------

@font-face {
  font-family: "Migra-Extralight";
  src: url("fonts/Migra/Migra-Extralight.woff2") format("woff2");
    font-display: swap;
}

@font-face {
  font-family: "Migra-Extrabold";
  src: url("fonts/Migra/Migra-Extrabold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
  font-family: "MigraItalic-Extralight";
  src: url("fonts/Migra/MigraItalic-ExtralightItalic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
  font-family: "MigraItalic-Extrabold";
  src: url("fonts/Migra/MigraItalic-Extrabold.woff2") format("woff2");
    font-display: swap;
}

// IBM PLEX SANS --------------------------------------------------------------------

@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("fonts/IBMPlexSans/IBMPlexSans-Regular-Latin1.woff2") format("woff2"),
  url("fonts/IBMPlexSans/IBMPlexSans-Regular-Latin1.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSans-Text";
  src: url("fonts/IBMPlexSans/IBMPlexSans-Text-Latin1.woff2") format("woff2"),
  url("fonts/IBMPlexSans/IBMPlexSans-Text-Latin1.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url("fonts/IBMPlexSans/IBMPlexSans-SemiBold-Latin1.woff2") format("woff2"),
  url("fonts/IBMPlexSans/IBMPlexSans-SemiBold-Latin1.woff") format("woff");
  font-display: swap;
}

// IBM PLEX MONO --------------------------------------------------------------------

@font-face {
  font-family: "IBMPlexMono-SemiBold";
  src: url("fonts/IBMPlexMono/IBMPlexMono-SemiBold.woff2") format("woff2"),
  url("fonts/IBMPlexMono/IBMPlexMono-SemiBold.woff") format("woff");
  font-display: swap;
}


h4 {
  font-family: "Sohne-Light", 'Helvetica Neue', Arial, sans-serif;
  font-size: 28px;
  // letter-spacing: 0.07em;
  // text-transform: uppercase;
  cursor: url("../img/text.svg"), url("../img/text.png"), text;
}

h5 {
  font-family: "Migra-Extrabold", "Palatino Linotype", Palatino, serif;
  color: $heading-color;
  font-size: 48px;
  line-height: 1.15em;
  cursor: url("../img/text.svg"), url("../img/text.png"), text;
}

@media (max-width: 675px) {
  h5 {
    font-size: 40px;
  }
}

@media (max-width: 440px) {
  h5 {
    font-size: 34px;
  }
}

h6 {
  font-family: "Migra-Extrabold", "Palatino Linotype", Palatino, serif;
  color: $heading-color;
  font-size: 64px;
  letter-spacing: -0.05em;
  text-align: center;
  cursor: url("../img/text.svg"), url("../img/text.png"), text;
}

p {
  font-size: 18px;
  line-height: 1.6em;
  margin-bottom: 0;
  cursor: url("../img/text.svg"), url("../img/text.png"), text;
}

// @media (max-width: 576px) {
//   p {
//     font-family: "IBMPlexSans-Text", 'Helvetica Neue', Arial, sans-serif;
//   }
// }

@media (max-width: 675px) {
  h6 {
    font-size: 100px;
  }
}

h3 {
  font-family: "Sohne-Kraftig", "Palatino Linotype", Palatino, serif;
  position: relative;
  color: $heading-color;
  font-size: 18px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  cursor: url("../img/text.svg"), url("../img/text.png"), text;
}

@media (max-width: 576px) {
  h3 {
    padding-left: 0;

    span {
      padding-left: 1.25rem;
      margin-left: 0rem;
      margin-right: 0;
    }
  }
}

h1 {
  font-size: 22px;
  // cursor: url("../img/text.svg"), url("../img/text.png"), text;


  span {
    font-family: "IBMPlexSans-Regular", 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    text-transform: none;
    line-height: 1.5em;
    color: $heading-color;
  }
}

h2 {
  font-family: "BluuNext-Bold", "Palatino Linotype", Palatino, serif;
  color: $heading-color;
  font-size: 18px;
  cursor: url("../img/text.svg"), url("../img/text.png"), text;


  span {
    font-family: "IBMPlexSans-Regular", 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    text-transform: none;
    font-size: 18px;
    line-height: 1.5em;
  }
}

@media (max-width: 576px) {
  h2 {
    span {
      font-family: "IBMPlexSans-Text", 'Helvetica Neue', Arial, sans-serif;
      font-size: 17px;
    }
  }
}