@font-face {
  font-family: IBMPlexSans-Regular;
  src: url("fonts/IBMPlexSans/IBMPlexSans-Regular.woff") format("woff"),
    url("fonts/IBMPlexSans/IBMPlexSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: BluuNext-Bold;
  src: url("fonts/bluunext-bold-webfont.woff") format("woff"),
    url("fonts/BluuNext-Bold.otf") format("opentype");
}

@font-face {
  font-family: IBMPlexSans-Bold;
  src: url("fonts/IBMPlexSans/IBMPlexSans-Bold.woff") format("woff"),
    url("fonts/IBMPlexSans/IBMPlexSans-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: IBMPlexSans-Italic;
  src: url("fonts/IBMPlexSans/IBMPlexSans-Italic.woff") format("woff"),
    url("fonts/IBMPlexSans/IBMPlexSans-Italic.otf") format("opentype");
}

@font-face {
  font-family: IBMPlexSans-Light;
  src: url("fonts/IBMPlexSans/IBMPlexSans-Light.woff") format("woff"),
    url("fonts/IBMPlexSans/IBMPlexSans-Light.otf") format("opentype");
}

@font-face {
  font-family: IBMPlexMono-Regular;
  src: url("fonts/IBMPlexMono/IBMPlexMono-Regular.woff") format("woff"),
    url("fonts/IBMPlexMono/IBMPlexMono-Regular.otf") format("opentype");
}

h4 {
  font-family: IBMPlexSans-Medium;
  color: #797979;
  font-size: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

h5 {
  font-family: BluuNext-Bold;
  color: $heading-color;
  font-size: 56px;
  letter-spacing: -0.03em;
  line-height: 1.15em;
  text-transform: uppercase;
}

@media (max-width: 675px) {
  h5 {
    font-size: 40px;
  }
}

@media (max-width: 440px) {
  h5 {
    font-size: 34px;
  }
}

h6 {
  font-family: BluuNext-Bold;
  color: $heading-color;
  font-size: 64px;
  letter-spacing: -0.05em;
  text-align: center;
}

@media (max-width: 675px) {
  h6 {
    font-size: 100px;
  }
}
