$bg-color: #FDFCF7;
$bg-color-dark:#2B2A29;
$text-color-dark:#FDFCF7;
$grey20: #d7dcda;
$bg-frame: #F6F2EC;
$bg-frame-dark: #1D1C1B;
$link-underline-color: rgba(67, 63, 61, .1);
$link-underline-color-dark: #1D1C1B;
$link-underline-color-dark-hover: #FDFCF7;
$link-light-underline-color: rgba(255, 255, 255, .2);
$heading-color: #433F3D;
$green: #3d8f54;
$green-highlight: rgba(61, 143, 84, 0.7);
$g30: #3ea45b;
$blue: #70A582;