$bg-color: #FDFCF7;
$grey20: #d7dcda;
$bg-frame: #F6F2EC;
$link-underline-color: rgba(67, 63, 61, .1);
$heading-color: #433F3D;
$green: #3d8f54;
$green-highlight: rgba(61, 143, 84, 0.7);
$g30: #3ea45b;
$g20: #3fb761;
$blue: #70A582;