$bg-color: #fbfcfc;
$n20: #f6f4f1;
$n30: #f0eeea;
$n40: #edeae6;
$n50: #e1cdb0;
$n55: rgb(238, 192, 132);
$n60: #CC9245;
$yellow: #B5792A;
$yellow-highlight: #CC9245;
$grey50: #687179;
$heading-color: #343332;
$caption-color: #454c4a;
$green: #3d8f54;
$green-highlight: rgba(61, 143, 84, 0.7);
$g30: #3ea45b;
$g20: #3fb761;
$blue: #438FC7;