// $bg-color: #f9f9fa;
$bg-color: #fbfcfc;
$n20: #f6f4f1;
$n30: #f0eeea;
$n40: #edeae6;
$n50: #e1cdb0;
$n60: #CC9245;
$grey50: #687179;
$heading-color: #343332;
$green: #3d8f54;
$green-highlight: rgba(61, 143, 84, 0.7);
$g30: #3ea45b;
$g20: #3fb761;
$yellow: #B5792A;
$yellow-highlight: rgba(161, 107, 27, 0.7);